<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<div class="row"
		style='padding-left: 0px; padding-right: 0px; margin-left: 0px; margin-right: 0px'>
		<label class="col-sm-4 control-label text-center"
			style='padding-left: 0px; padding-right: 0px'>Rol del
			Participante</label> <label class="col-sm-3 control-label text-center"
			style='padding-left: 0px; padding-right: 0px'>Primer Nombre</label> <label
			class="col-sm-3 control-label text-center"
			style='padding-left: 0px; padding-right: 0px'>Primer Apellido</label>
		<label class="col-sm-2 control-label text-center"
			style='padding-left: 0px; padding-right: 0px'>Nro. de Documento</label>
	</div>

</body>
</html>