<div ng-controller="VerificacionControlador as vm">
	<div class="modal-header wizard-header">
		<button type="button" class="close wizard-close" ng-click="vm.cancelar()" aria-hidden="true">&times;</button>
		<h3 class="modal-title wizard-title">Registrar nacimiento</h3>
		<span class="wizard-subtitle"></span>
	</div>
	<div class="modal-body wizard-body">
		<div class="pull-left wizard-steps">  
			<div class="wizard-nav-container">  
				<ul class="nav wizard-nav-list">
					<li class="wizard-nav-item active">
						<a class="wizard-nav-link"><span class="glyphicon glyphicon-chevron-right"></span>Declaraci&oacute;n jurada</a>
							<ul>
								<li ng-repeat="subpaso in subPasos"></li>
							</ul>
                   	</li>
            	</ul>  
         	</div>  
  			<div class="wizard-progress-container">  
				<uib-progressbar class="progress-striped active" max="vm.titulos.length+1" value="vm.activo+1"></uib-progressbar>                                     
           	</div>
    	</div>  
		<div class="wizard-cards">
			<div class="wizard-card-container panel"  style="height: 520px">
				<div ng-hide = "vm.conformar">
					<h3 style="margin-top: 5px;">Autenticar ciudadano(a)</h3>
					<hr>
				</div>
			<div ng-hide = "vm.conformar" class="panel-heading">
				<h3 class="panel-title" style="margin-top: 5px;">
					{{vm.modeloActual.titulo}}<span
						class="glyphicon glyphicon-pencil pull-right" style="margin-right: 10px;"></span>
				</h3>
			</div>
				<div class = "panel" ng-bind-html="vm.vista" carta="vm.vista"></div>
			</div>
		</div>
		<div class="wizard-footer">
			<div class="wizard-buttons-container">
				<button ng-hide = "vm.finalizar_modal" class="btn btn-danger wizard-cancel wizard-close" type="button" ng-click="vm.cancelar()">Cancelar</button>
				<div class="btn-group-single pull-right">
					<button ng-hide = "vm.finalizar_modal" class="btn wizard-back" type="button" ng-disabled='vm.disabled' ng-click="vm.regresar()">Regresar</button>
					<button class="btn wizard-next btn-primary" type="button" ng-click="vm.siguiente()" ng-disabled = "form1.$invalid">Continuar</button>
				</div>
			</div>
		</div>
	</div>
</div>


