<div class="col-sm-12">
	<h3>Datos para la solicitud de la adopci&oacute;n</h3>
	<span id="separadorTitulos"></span>
</div>
<div class="col-sm-12">
	<h4>Datos del (de la) adoptado(a)</h4>
	<span id="separadorTitulos"></span>
</div>
<form name="form1">
	<div class="col-sm-12 form-group">
		<div class="col-sm-12 form-group">
			<label class="col-sm-4 control-label">Documento de
				identificaci&oacute;n:</label>
			<div class="col-sm-3 form-group"
				ng-class="{'has-error': vm.modelo['ADO'].documentoIdentidad[0].tipoDocumento.nombre== undefined , 'has-success':  vm.modelo['ADO'].documentoIdentidad[0].tipoDocumento.nombre!= undefined}">
				<div class="input-group">
					<select class="form-control input-sm"
						ng-model="vm.modelo['ADO'].documentoIdentidad[0].tipoDocumento.nombre"
						name="vm.modelo['ADO'].documentoIdentidad[0].tipoDocumento.nombre"
						ng-disabled="disabled">
						<option value="" selected>Seleccione</option>
						<option value="CEDULA">C&Eacute;DULA/NUI</option>
						<option value="PASAPORTE">PASAPORTE</option>
					</select><span class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['ADO'].documentoIdentidad[0].tipoDocumento.nombre!= undefined"></span>
						<span class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['ADO'].documentoIdentidad[0].tipoDocumento.nombre!= undefined"></span></span>
				</div>
			</div>
			<div
				ng-if="vm.modelo['ADO'].documentoIdentidad[0].tipoDocumento.nombre=='CEDULA'">
				<div class="col-sm-2 form-group"
					ng-class="{'has-error': vm.modelo['ADO'].tipoDocumento == undefined , 'has-success':  vm.modelo['ADO'].tipoDocumento != undefined}">
					<div class="input-group">
						<select class="form-control input-sm"
							name="vm.modelo['ADO'].tipoDocumento" ng-disabled="disabled"
							ng-model="vm.modelo['ADO'].tipoDocumento">
							<option value="" selected>Seleccione</option>
							<option value="V">V-</option>
							<option value="E">E-</option>
						</select><span class="input-group-addon" id="basic-addon1"> <span
							class="glyphicon glyphicon-asterisk"
							ng-hide="vm.modelo['ADO'].tipoDocumento!= undefined"></span> <span
							class="glyphicon glyphicon-ok"
							ng-show="vm.modelo['ADO'].tipoDocumento!= undefined"></span>
						</span>
					</div>
				</div>
				<div class="col-sm-3 form-group"
					ng-class="{'has-error': vm.modelo['ADO'].documentoIdentidad[0].numero== undefined , 'has-success':  vm.modelo['ADO'].documentoIdentidad[0].numero!= undefined}">
					<div class="input-group">
						<input type="text" class="input-sm form-control"
							popover-tittle="Formato de la cedula"
							ng-pattern="vPatron.Numerico" custom-popover
							popover-contenido="{{vPatron.Fnumero | json}}"
							popover-placement="top" popover-label="Label"
							popover-validation="{{numero == undefined}}" maxlength="9"
							minlength="6"
							ng-keydown="onKeyDownNumerico($event,'vPatron.excepciones','numero')"
							popover-is-open="errorTecla.numero" ng-blur="onBlur"
							placeholder="Ejemplo: 123456" ng-value="num"
							ng-init="setCedula()" ng-disabled="disabled"
							placeholder="Ejemplo: 123456"
							name="vm.modelo['ADO'].documentoIdentidad[0].numero"
							class="input-sm form-control"
							ng-model="vm.modelo['ADO'].documentoIdentidad[0].numero">
						<span class="input-group-addon" id="basic-addon1"> <span
							class="glyphicon glyphicon-asterisk"
							ng-hide="vm.modelo['ADO'].documentoIdentidad[0].numero!= undefined"></span>
							<span class="glyphicon glyphicon-ok"
							ng-show="vm.modelo['ADO'].documentoIdentidad[0].numero!= undefined"></span>
						</span>
					</div>
				</div>
			</div>
			<div
				ng-if="vm.modelo['ADO'].documentoIdentidad[0].tipoDocumento.nombre=='PASAPORTE'">
				<div class="col-sm-5 form-group"
					ng-class="{'has-error': vm.modelo['ADO'].documentoIdentidad[0].numero== undefined , 'has-success':  hijo.documentoIdentidad[0].tipoDocumento.nombre!= undefined}">
					<div class="input-group">
						<input type="text" class="input-sm form-control"
							popover-tittle="Formato de la cedula"
							ng-pattern="vPatron.Numerico" custom-popover
							popover-contenido="{{vPatron.Fnumero | json}}"
							popover-placement="top" popover-label="Label"
							popover-validation="{{numero == undefined}}" maxlength="11"
							minlength="6"
							ng-keydown="onKeyDownNumerico($event,'vPatron.excepciones','numero')"
							popover-is-open="errorTecla.numero" ng-blur="onBlur"
							placeholder="Ejemplo: 123456" ng-value="num"
							ng-init="setCedula()" ng-disabled="disabled"
							placeholder="Ejemplo: 123456"
							name="vm.modelo['ADO'].documentoIdentidad[0].numero"
							class="input-sm form-control"
							ng-model="vm.modelo['ADO'].documentoIdentidad[0].numero">
						<span class="input-group-addon" id="basic-addon1"> <span
							class="glyphicon glyphicon-asterisk"
							ng-hide="vm.modelo['ADO'].documentoIdentidad[0].numero!= undefined"></span>
							<span class="glyphicon glyphicon-ok"
							ng-show="vm.modelo['ADO'].documentoIdentidad[0].numero!= undefined"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="col-sm-12 form-group">
				<div class="col-sm-8 form-group">
					<label class="col-sm-8 control-label">Tipo de documento de
						identificaci&oacute;n:</label>
					<div class="input-group row-sm-4"
						ng-show="vm.modelo['ADO'].documentoIdentidad[0].tipoDocumento.nombre==='Nunca'"
						ng-class="{'has-error': vm.modelo['ADO'].documentoIdentidad[0].tipoDocumento.nombre== undefined , 'has-success':  vm.modelo['ADO'].documentoIdentidad[0].tipoDocumento.nombre!= undefined}">
						<select class="form-control input-sm" name="hijo.tipoDocumento">
							<option value="" selected disabled>Seleccione</option>
							<option value="V">V-</option>
							<option value="E">E-</option>
						</select>
					</div>
				</div>
				<div class="col-sm-4 form-group"
					ng-class="{'has-error': vm.modelo['ADO'].documentoIdentidad[0].tipoDocumento.nombre== undefined , 'has-success':  vm.modelo['ADO'].documentoIdentidad[0].tipoDocumento.nombre!= undefined}">
					<div class="input-group">
						<select class="form-control input-sm"
							ng-model="vm.modelo['ADO'].documentoIdentidad[0].tipoDocumento.nombre"
							name="vm.modelo['ADO'].documentoIdentidad[0].tipoDocumento.nombre"
							ng-disabled="disabled">
							<option value="" selected>Seleccione</option>
							<option value="CEDULA">C&Eacute;DULA/NUI</option>
							<option value="PASAPORTE">PASAPORTE</option>
						</select><span class="input-group-addon" id="basic-addon1"> <span
							class="glyphicon glyphicon-asterisk"
							ng-hide="vm.modelo['ADO'].documentoIdentidad[0].tipoDocumento.nombre!= undefined || vm.modelo['ADO'].documentoIdentidad[0].tipoDocumento.nombre==''"></span>
							<span class="glyphicon glyphicon-ok"
							ng-show="vm.modelo['ADO'].documentoIdentidad[0].tipoDocumento.nombre!= undefined"></span></span>
					</div>
				</div>
			</div>
			<div class="col-sm-12 form-group">
				<div class="col-sm-8 form-group">
					<label class="col-sm-8 control-label">N&uacute;mero de
						documento de identificaci&oacute;n:</label>
					<div class="input-group row-sm-3"
						ng-show="vm.modelo['ADO'].documentoIdentidad[0].tipoDocumento.nombre==='CEDULA'"
						ng-class="{'has-error': vm.modelo['ADO'].tipoDocumento== undefined , 'has-success':  vm.modelo['ADO'].tipoDocumento!= undefined}">
						<select class="form-control input-sm" ng-disabled="disabled"
							name="vm.modelo['ADO'].tipoDocumento"
							ng-model="vm.modelo['ADO'].tipoDocumento">
							<option value="0">Seleccione</option>
							<option value="V">V-</option>
							<option value="E">E-</option>
						</select>
					</div>
				</div>
				<div class="align-left">
					<div class="col-sm-4 form-group">
						<div class="input-group row-sm-12"
							ng-class="{'has-error': vm.modelo['ADO'].documentoIdentidad[0].numero == undefined , 'has-success':  vm.modelo['ADO'].documentoIdentidad[0].numero!= undefined}">
							<input type="text" uib-popover="{{validaciones.cedula.mensaje}}"
								popover-title="{{validaciones.cedula.titulo}}"
								popover-trigger="none" popover-is-open="vm.errorTecla.numero"
								ng-blur="vm.onBlur"
								ng-keydown="vm.onKeyDown($event,'cedula','numero')"
								ng-minlength="{{validaciones.cedula.minimo}}"
								ng-maxlength="{{validaciones.cedula.maximo}}" maxlength="9"
								placeholder="{{validaciones.cedula.placeholder}}"
								name="vm.modelo['ADO'].documentoIdentidad[0].numero"
								ng-value="{{num}}" ng-init="setCedula()"
								class="input-sm form-control" ng-disabled="disabled"
								ng-model="vm.modelo['ADO'].documentoIdentidad[0].numero">
							<span class="input-group-addon" id="basic-addon1"> <span
								class="glyphicon glyphicon-asterisk"
								ng-hide="vm.modelo['ADO'].documentoIdentidad[0].numero!= undefined ||vm.modelo['ADO'].documentoIdentidad[0].numero==''"></span>
								<span class="glyphicon glyphicon-ok"
								ng-show="vm.modelo['ADO'].documentoIdentidad[0].numero!= undefined"></span>
							</span>
						</div>
					</div>
				</div>
			</div>-->
	<div class="col-sm-12">
		<div class="col-sm-6 form-group">
			<label class="col-sm-12 control-label">Primer nombre:</label>
			<div class="col-sm-12 form-group "
				ng-class="{'has-error': vm.modelo['ADO'].primerNombre== undefined , 'has-success':  vm.modelo['ADO'].primerNombre!= undefined}">
				<div class="input-group">
					<input type="text" popover-tittle="Formato de los nombres"
						ng-pattern="vPatron.FormatoNombres" custom-popover
						popover-contenido="{{vPatron.AlfaText | json}}"
						popover-placement="top" popover-label="Label"
						popover-validation="{{primerNombre == undefined}}" maxlength="50"
						minlength="2"
						ng-keydown="onKeyDownAlfa($event,'vPatron.excepciones','primerNombre')"
						popover-is-open="errorTecla.primerNombre" ng-blur="onBlur"
						placeholder="Ejemplo: Juan" name="vm.modelo['ADO'].primerNombre"
						class="input-sm form-control"
						ng-model="vm.modelo['ADO'].primerNombre" ng-disabled="disabled">
					<span class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['ADO'].primerNombre!= undefined"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['ADO'].primerNombre!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-6 form-group">
			<label class="col-sm-12 control-label">Segundo nombre:</label>
			<div class="col-sm-12 form-group"
				ng-class="{'': vm.modelo['ADO'].segundoNombre.length<1, '': vm.modelo['ADO'].segundoNombre==undefined, 'has-error': vm.modelo['ADO'].segundoNombre.length==1, 'has-success':  vm.modelo['ADO'].segundoNombre.length>=2}">
				<!-- 				ng-class="{'has-error': vm.modelo['ADO'].segundoNombre== undefined , 'has-success':  vm.modelo['ADO'].segundoNombre!= undefined}"> -->
				<div class="input-group">
					<input type="text" popover-tittle="Formato de los nombres"
						ng-pattern="vPatron.FormatoNombres" custom-popover
						popover-contenido="{{vPatron.AlfaText | json}}"
						popover-placement="top" popover-label="Label"
						popover-validation="{{segundoNombre == undefined}}" maxlength="50"
						minlength="2" ng-model-options="{ allowInvalid: true }"
						ng-keydown="onKeyDownAlfa($event,'vPatron.excepciones','segundoNombre')"
						popover-is-open="errorTecla.segundoNombre" ng-blur="onBlur"
						placeholder="Ejemplo: Alejandro"
						name="vm.modelo['ADO'].segundoNombre"
						class="input-sm form-control"
						ng-model="vm.modelo['ADO'].segundoNombre" ng-disabled="disabled">
					<span class="input-group-addon" id="basic-addon1"> <span
						ng-hide="vm.modelo['ADO'].segundoNombre!= undefined"></span> <span
						ng-show="vm.modelo['ADO'].segundoNombre!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-6 form-group">
			<label class="col-sm-12 control-label">Primer apellido:</label>
			<div class="col-sm-12 form-group"
				ng-class="{'has-error': vm.modelo['ADO'].primerApellido== undefined , 'has-success':  vm.modelo['ADO'].primerApellido!= undefined}">
				<div class="input-group">
					<input type="text" popover-tittle="Formato de los apellidos"
						ng-pattern="vPatron.primerApellido" custom-popover
						popover-contenido="{{vPatron.AlfaText | json}}"
						popover-placement="top" popover-label="Label"
						popover-validation="{{primerApellido == undefined}}"
						maxlength="50" minlength="2"
						ng-keydown="onKeyDownAlfa($event,'vPatron.excepciones','primerApellido')"
						popover-is-open="errorTecla.primerApellido" ng-blur="onBlur"
						placeholder="Ejemplo: Salazar"
						name="vm.modelo['ADO'].primerApellido"
						class="input-sm form-control"
						ng-model="vm.modelo['ADO'].primerApellido" ng-disabled="disabled">
					<span class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['ADO'].primerApellido!= undefined"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['ADO'].primerApellido!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-6 form-group">
			<label class="col-sm-12 control-label">Segundo apellido:</label>
			<div class="col-sm-12 form-group"
				ng-class="{'': vm.modelo['ADO'].segundoApellido.length<1, '': vm.modelo['ADO'].segundoApellido==undefined, 'has-error': vm.modelo['ADO'].segundoApellido.length==1, 'has-success':  vm.modelo['ADO'].segundoApellido.length>=2}">
				<!-- 				ng-class="{'has-error': vm.modelo['ADO'].segundoApellido== undefined , 'has-success':  vm.modelo['ADO'].segundoApellido!= undefined}"> -->
				<div class="input-group">
					<input type="text" popover-tittle="Formato de los apellidos"
						ng-pattern="vPatron.segundoApellido" custom-popover
						popover-contenido="{{vPatron.AlfaText | json}}"
						popover-placement="top" popover-label="Label"
						popover-validation="{{segundoApellido == undefined}}"
						maxlength="50" minlength="2"
						ng-keydown="onKeyDownAlfa($event,'vPatron.excepciones','segundoApellido')"
						popover-is-open="errorTecla.segundoApellido" ng-blur="onBlur"
						placeholder="Ejemplo: Romero"
						ng-model-options="{ allowInvalid: true }"
						name="vm.modelo['ADO'].segundoApellido"
						class="input-sm form-control"
						ng-model="vm.modelo['ADO'].segundoApellido"
						ng-model-options="{ allowInvalid: true }" ng-disabled="disabled">
					<span class="input-group-addon" id="basic-addon1"> <span
						ng-hide="vm.modelo['ADO'].segundoApellido!= undefined"></span> <span
						ng-show="vm.modelo['ADO'].segundoApellido!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-6 form-group"
			ng-show="vm.modelo['ADO'].tipoDocumento==='V'">
			<label class="col-sm-12 control-label">Nacionalidad</label>
			<div class="col-sm-12 form-group"
				ng-class="{'has-success':  vm.modelo['ADO'].nacionalidad!= undefined || vm.modelo['ADO'].nacionalidad== undefined}">
				<div class="input-group">
					<select class="form-control input-sm"
						ng-model="vm.modelo['ADO'].nacionalidad"
						ng-model-options="{ allowInvalid: true }"
						name="vm.modelo['ADO'].nacionalidad" disabled>
						<option value="" selected>VENEZOLANA</option>
					</select> <span class="input-group-addon" id="basic-addon1"> <span
						ng-hide="vm.modelo['ADO'].nacionalidad"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['ADO'].nacionalidad!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-6 form-group"
			ng-show="vm.modelo['ADO'].tipoDocumento!='V'">
			<label class="col-sm-12 control-label">Nacionalidad</label>
			<div class="col-sm-12 form-group"
				ng-class="{'has-error': vm.modelo['ADO'].nacionalidad== undefined , 'has-success':  vm.modelo['ADO'].nacionalidad!= undefined}">
				<div class="input-group">
					<select class="form-control input-sm"
						name="vm.modelo['ADO'].nacionalidad"
						ng-model="vm.modelo['ADO'].nacionalidad"
						ng-options="nacionalidad.nombre for nacionalidad in nacionalidades">
						<option value="" selected>Seleccione</option>
					</select> <span class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['ADO'].nacionalidad!= undefined"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['ADO'].nacionalidad!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-6 form-group">
			<label class="col-sm-12 control-label"> Sexo</label>
			<div class="col-sm-12 form-group"
				ng-class="{'has-error': vm.modelo['ADO'].sexo== undefined , 'has-success':  vm.modelo['ADO'].sexo!= undefined}">
				<div class="input-group">
					<select class="form-control input-sm"
						ng-model="vm.modelo['ADO'].sexo"
						name="vm.modelo['ADO'].sexo1"
						ng-model-options="{ allowInvalid: true }" required>
						<option value="" selected>Seleccione</option>
						<option value="FEMENINO">Femenino</option>
						<option value="MASCULINO">Masculino</option>
					</select> <span class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['ADO'].sexo!= undefined"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['ADO'].sexo!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
</form>

