<div class="col-lg-12">
	<h3>Cargar documento</h3>
	<span id="separadorTitulos"></span>
</div>
<form name="form1">
	<div class="col-sm-12">
		<div class="alert alert-success" role="alert">
			<div class="container-fluid">
				<div class="row">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Carga de documento exitosa
					<!-- Se han autenticado correctamente todos los participantes del acto -->
					<!-- 							{{vm.modelo.mensaje}} -->
				</div>
			</div>
		</div>
	</div>
<!-- 	<button style="margin-top: 250px; margin-left: 350px; float: right;" class="btn wizard-next btn-success" type="button" ng-click="vm.siguiente()">Finalizar</button> -->
	<button style="float: right;" ng-click="vm.siguiente()" class="btn btn-success wizard-next"
		type="button">Finalizar</button>

</form>
