
<div class="modal-header">
	<h3 class="modal-title">Registrar inhumaci&oacute;n y/o cremaci&oacute;n</h3>
</div>

<div class="modal-body">
	<div class="alert alert-warning" role="alert">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-1">
					<span style="font-size: 3em;" class="glyphicon glyphicon-alert"></span>
				</div>
				<div class="col-sm-11 text-center">Verificaci&oacute;n de permiso no conforme</div>
			</div>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-danger btn-sm" type="button" ng-click="cancelar('cancelado')">Cancelar<span class="glyphicon glyphicon-remove"></span></button>
	<button class="btn btn-success im-done btn-sm" type="button" ng-click="confirmar('noConforme')">Confirmar<span class="glyphicon glyphicon-ok"></span></button>
</div>
