
<div class="modal-header">
	<h3 class="modal-title">Permiso inhumaci&oacute;n y/o cremaci&oacute;n</h3>
</div>

<div class="modal-body">
	<div class="alert alert-warning" role="alert">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-1">
					<span style="font-size: 3em;" class="glyphicon glyphicon-alert"></span>
				</div>
				<div class="col-sm-11 text-center">El certificado medico EV-14
					N{{numCertificado}}, ya se encuentra registrado ?
					<br>Es correcto?</div>
			</div>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok('si')">SI</button>
	<button class="btn btn-warning" type="button" ng-click="cancel('no')">NO</button>
</div>
