<div ng-controller="formController">
        <div class="modal-header">
             <h3 class="modal-title">Autenticar Nacimiento</h3> 
         </div> 
       <div class="col-sm-12"> 
 			<div class="alert alert-warning" role="alert"> 
 				<div class="container-fluid"> 
 					<div class="row">
 						<div class="col-sm-1"> 
 							<span style="font-size: 3em;" class="glyphicon glyphicon-alert"></span> 
 						</div> 
 						<p id="generico" class="col-sm-11">
 							<b>Atenci&oacute;n:</b>Verificaci&oacute;n del acta no conforme
 						</p> 
 					</div> 
 				</div>
 			</div>
 		</div> 
         <div class="modal-footer"> 
            <button class="btn btn-warning" type="button"  ng-click="cancel()">Cancelar</button> 
            <button class="btn btn-success wizard-next" type="button" ng-click="ok()">Aceptar</button>
         </div> 
</div>