<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Permiso de Inhumaci&oacute;n</h4>
	</div>
	<div class="panel-body">
	<form name="form1">

		<div class="col-sm-12">
			<label>&#191;Qu&eacute; tipo de permiso desea emitir&#63;</label>
		</div>

		<div class="col-sm-12">
			<div class="radio">
				<label> <input type="radio" name="radio" ng-model="formulario.permiso"
					value='Permiso de inhumaci&oacute;n' required> Permiso de inhumaci&oacute;n
				</label>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="radio">
				<label> <input type="radio" name="radio" ng-model="formulario.permiso"
					value='Permiso de cremaci&oacute;n' required> Permiso de cremaci&oacute;n
				</label>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="radio">
				<label> <input type="radio" name="radio" ng-model="formulario.permiso"
					value='Permiso de inhumaci&oacute;n y cremaci&oacute;n' 
					required> Permiso de inhumaci&oacute;n y
					cremaci&oacute;n
				</label>
			</div>
		</div>
		
		
<!-- 		<input type='hidden' ng-model='nombreModelo' ng-init='nombreModelo=\'radio\''> -->
		</form>
	</div>
</div>