<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Verificaci&oacute;n del(la) registrador(a) civil</h4>
	</div>
	<div class="panel-body">
		<form name="form1">
		<div class="col-sm-12">
			<div class="col-sm-5">
				<div class="radio">
					<label> <input type="radio" name="radio"
						ng-model="formulario.permiso" value="conforme" ng-change="ocultarCampoObservacion()" required> Conforme
					</label>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="radio">
					<label> <input type="radio" name="radio"
						ng-model="formulario.permiso" ng-change="mostrarCampoObservacion()" value="noConforme" required> No
						Conforme
					</label>
				</div>
			</div>
		</div>
		
	<div ng-show="campoObservacion">
	<div class="col-sm-12">
		<div class="col-sm-9 form-group"
			ng-class="{'has-error': formulario.observaciones== undefined , 'has-success':  formulario.observaciones!= undefined}">
			<label class="row-sm-5 control-label">Observaciones:</label>
			<div class="input-group row-sm-7">
				<textarea type="text" name="formulario.observaciones"
							class="input-sm form-control" ng-model="formulario.observaciones"
							required maxlength="200" ng-required="formulario.permiso != 'conforme'"></textarea> <span class="input-group-addon"
							id="basic-addon1"> <span
							class="glyphicon glyphicon-asterisk"
							ng-hide="formulario.observaciones!= undefined"></span> <span
							class="glyphicon glyphicon-ok"
							ng-show="formulario.observaciones!= undefined"></span>
						</span>
				</div>
			</div>
		</div>
		</div>
		</form>
		
		</div>
	

			<pre>formulario = {{formulario | json}}</pre>
		
	</div>
