
    <div class="col-sm-12">
        <h3>{{vm.modelo.titulo}}</h3>
        <span id="separadorTitulos"></span>
    </div>
    <div class="panel-body panel-success" style="height: {{heightPerform}}">



        <!-- 				<img src="img/ActaUEH.jpg" class="img-responsive"><img src="img/ActaUEH.jpg" class="img-responsive"> -->
        ARCHIVOPDF
        <!-- 				<div class="alert alert-info" role="alert"><span class="glyphicon glyphicon-info-sign"></span> Fin del documento</div><br><br><br> -->

    </div>