	
	<div class="col-sm-12">
		<h3>Observaciones</h3>
		<span id="separadorTitulos"></span>
	</div>
	
		

	<div class="col-sm-12">
		<div class="col-sm-9 form-group">
			
			<div class="input-group row-sm-7">
				<textarea type="text" rows="3" name="vm.modelo.observaciones"
							class="input-sm form-control" ng-model="vm.modelo.observaciones" ng-model-options="{ allowInvalid: true }" maxlength = "200" minlength = "2"
							required disabled></textarea> <span class="input-group-addon"
							id="basic-addon1"> <span
							ng-hide="observaciones!= undefined"></span> <span
							ng-show="observaciones!= undefined"></span>
						</span>
			</div>
		</div>
	</div>
