<div class="col-sm-12">
	<h3>Circunstancias especiales del acto</h3>
	<span id="separadorTitulos"></span>
</div>
<form name="form1">
	<div class="col-sm-12">
		<div class="col-sm-12 form-group">
			<div class="input-group row-sm-12"
				ng-class="{'': vm.modelo.circunstanciasEspeciales == undefined , 'has-success':  vm.modelo.circunstanciasEspeciales != undefined}">
				<textarea type="text" name="circunstanciasEspeciales" rows="2"
					class="input-sm form-control"
					ng-model="vm.modelo.circunstanciasEspeciales" maxlength="200"
					style='max-width: 100%;'></textarea>
				<span class="input-group-addon" id="basic-addon1"><span
					class="glyphicon glyphicon-ok"
					ng-show="vm.modelo.circunstanciasEspeciales != undefined"></span> </span>
			</div>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="col-sm-12 form-group">
			<label class="row-sm-12 control-label">Observaciones:</label>
			<div class="input-group row-sm-12"
				ng-class="{'': vm.modelo.observaciones == undefined , 'has-success':  vm.modelo.observaciones != undefined}">
				<textarea type="text" name="observaciones" rows="2"
					class="input-sm form-control" ng-model="vm.modelo.observaciones"
					maxlength="200" style='max-width: 100%;'></textarea>
				<span class="input-group-addon" id="basic-addon1"> <span
					class="glyphicon glyphicon-ok"
					ng-show="vm.modelo.observaciones != undefined"></span>
				</span>
			</div>
		</div>
	</div>
</form>
