<div class="col-sm-12">
	<h3>Datos del(la) declarante</h3>
	<span id="separadorTitulos"></span>
</div>
<form name="form1">
	<div class="col-sm-12">
		<div class="col-sm-12 form-group">
			<label class="col-sm-4 control-label">Documento de
				identificaci&oacute;n:</label>
			<div class="col-sm-3 form-group"
				ng-class="{'has-error': vm.modelo['declarante'].documentoIdentidad[0].tipoDocumento.nombre== undefined , 'has-success':  vm.modelo['declarante'].documentoIdentidad[0].tipoDocumento.nombre!= undefined}">
				<div class="input-group">
					<select class="form-control input-sm"
						ng-model="vm.modelo['declarante'].documentoIdentidad[0].tipoDocumento.nombre"
						name="vm.modelo['declarante'].documentoIdentidad[0].tipoDocumento.nombre"
						ng-disabled="disabled1">
						<option value="" selected>Seleccione</option>
						<option value="CEDULA">C&Eacute;DULA/NUI</option>
						<option value="PASAPORTE">PASAPORTE</option>
					</select><span class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['declarante'].documentoIdentidad[0].tipoDocumento.nombre!= undefined"></span>
						<span class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['declarante'].documentoIdentidad[0].tipoDocumento.nombre!= undefined"></span></span>
				</div>
			</div>
			<div
				ng-show="vm.modelo['declarante'].documentoIdentidad[0].tipoDocumento.nombre=='CEDULA'">
				<div class="col-sm-2 form-group"
					ng-class="{'has-error': vm.modelo['declarante'].tipoDocumento == undefined , 'has-success':  vm.modelo['declarante'].tipoDocumento != undefined}">
					<div class="input-group">
						<select class="form-control input-sm"
							name="vm.modelo['declarante'].tipoDocumento"
							ng-disabled="disabled1"
							ng-model="vm.modelo['declarante'].tipoDocumento">
							<option value="" selected>Seleccione</option>
							<option value="V">V-</option>
							<option value="E">E-</option>
						</select><span class="input-group-addon" id="basic-addon1"> <span
							class="glyphicon glyphicon-asterisk"
							ng-hide="vm.modelo['declarante'].tipoDocumento!= undefined"></span>
							<span class="glyphicon glyphicon-ok"
							ng-show="vm.modelo['declarante'].tipoDocumento!= undefined"></span>
						</span>
					</div>
				</div>
				<div class="col-sm-3 form-group"
					ng-class="{'has-error': vm.modelo['declarante'].documentoIdentidad[0].numero== undefined , 'has-success':  vm.modelo['declarante'].documentoIdentidad[0].numero!= undefined}">
					<div class="input-group">
						<input type="text" popover-tittle="Formato de la cedula"
							ng-pattern="vPatron.documentoIdentidad[0].numero" custom-popover
							popover-contenido="{{vPatron.Fnumero | json}}"
							popover-placement="top" popover-label="Label"
							popover-validation="{{documentoIdentidad[0].numero == undefined}}"
							maxlength="50" minlength="2"
							ng-keydown="onKeyDownNumerico($event,'vPatron.excepciones','documentoIdentidad[0].numero')"
							popover-is-open="errorTecla.documentoIdentidad[0].numero"
							ng-blur="onBlur"
							placeholder="{{validaciones.documentoIdentidad[0].numero.placeholder}}"
							name="vm.modelo['declarante'].documentoIdentidad[0].numero"
							class="input-sm form-control"
							ng-model="vm.modelo['declarante'].documentoIdentidad[0].numero"
							ng-disabled="disabled" required><span
							class="input-group-addon" id="basic-addon1"> <span
							class="glyphicon glyphicon-asterisk"
							ng-hide="vm.modelo['declarante'].documentoIdentidad[0].numero!= undefined"></span>
							<span class="glyphicon glyphicon-ok"
							ng-show="vm.modelo['declarante'].documentoIdentidad[0].numero!= undefined"></span>
						</span>
					</div>
				</div>
			</div>
			<div
				ng-show="vm.modelo['declarante'].documentoIdentidad[0].tipoDocumento.nombre=='PASAPORTE'">
				<div class="col-sm-5 form-group"
					ng-class="{'has-error': vm.modelo['declarante'].documentoIdentidad[0].numero== undefined , 'has-success':  vm.modelo['declarante'].documentoIdentidad[0].numero!= undefined}">
					<div class="input-group">
						<input type="text" popover-tittle="Formato del pasaporte"
							ng-pattern="vPatron.documentoIdentidad[0].numero" custom-popover
							popover-contenido="{{vPatron.Fnumero | json}}"
							popover-placement="top" popover-label="Label"
							popover-validation="{{documentoIdentidad[0].numero == undefined}}"
							maxlength="50" minlength="2"
							ng-keydown="onKeyDownNumerico($event,'vPatron.excepciones','documentoIdentidad[0].numero')"
							popover-is-open="errorTecla.documentoIdentidad[0].numero"
							ng-blur="onBlur"
							placeholder="{{validaciones.documentoIdentidad[0].numero.placeholder}}"
							name="vm.modelo['declarante'].documentoIdentidad[0].numero"
							class="input-sm form-control"
							ng-model="vm.modelo['declarante'].documentoIdentidad[0].numero"
							ng-disabled="disabled" required><span
							class="input-group-addon" id="basic-addon1"> <span
							class="glyphicon glyphicon-asterisk"
							ng-hide="vm.modelo['declarante'].documentoIdentidad[0].numero!= undefined"></span>
							<span class="glyphicon glyphicon-ok"
							ng-show="vm.modelo['declarante'].documentoIdentidad[0].numero!= undefined"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-6 form-group">
			<label class="col-sm-12 control-label">Primer nombre:</label>
			<div class="col-sm-12 form-group "
				ng-class="{'has-error': vm.modelo['declarante'].primerNombre== undefined , 'has-success':  vm.modelo['declarante'].primerNombre!= undefined}">
				<div class="input-group">
					<input type="text" popover-tittle="Formato de los nombres"
						ng-pattern="vPatron.FormatoNombres" custom-popover
						popover-contenido="{{vPatron.AlfaText | json}}"
						popover-placement="top" popover-label="Label"
						popover-validation="{{primerNombre == undefined}}" maxlength="50"
						minlength="2"
						ng-keydown="onKeyDownAlfa($event,'vPatron.excepciones','primerNombre')"
						popover-is-open="errorTecla.primerNombre" ng-blur="onBlur"
						placeholder="Ejemplo: Juan"
						name="vm.modelo['declarante'].primerNombre"
						class="input-sm form-control"
						ng-model="vm.modelo['declarante'].primerNombre"
						ng-disabled="disabled" required> <span
						class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['declarante'].primerNombre!= undefined"></span>
						<span class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['declarante'].primerNombre!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-6 form-group">
			<label class="col-sm-12 control-label">Segundo nombre:</label>
			<div class="col-sm-12 form-group"
				ng-class="{'': vm.modelo['declarante'].segundoNombre== undefined , 'has-success':  vm.modelo['declarante'].segundoNombre!= undefined}">
				<div class="input-group">
					<input type="text" popover-tittle="Formato de los nombres"
						ng-pattern="vPatron.FormatoNombres" custom-popover
						popover-contenido="{{vPatron.AlfaText | json}}"
						popover-placement="top" popover-label="Label"
						popover-validation="{{segundoNombre == undefined}}" maxlength="50"
						minlength="2"
						ng-keydown="onKeyDownAlfa($event,'vPatron.excepciones','segundoNombre')"
						popover-is-open="errorTecla.segundoNombre" ng-blur="onBlur"
						placeholder="Ejemplo: Alejandro"
						name="vm.modelo['declarante'].segundoNombre"
						class="input-sm form-control"
						ng-model="vm.modelo['declarante'].segundoNombre"
						ng-disabled="disabled"> <span class="input-group-addon"
						id="basic-addon1"> <span
						ng-hide="vm.modelo['declarante'].segundoNombre!= undefined"></span>
						<span ng-show="vm.modelo['declarante'].segundoNombre!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-6 form-group">
			<label class="col-sm-12 control-label">Primer apellido:</label>
			<div class="col-sm-12 form-group"
				ng-class="{'has-error': vm.modelo['declarante'].primerApellido== undefined , 'has-success':  vm.modelo['declarante'].primerApellido!= undefined}">
				<div class="input-group">
					<input type="text" popover-tittle="Formato de los apellidos"
						ng-pattern="vPatron.primerApellido" custom-popover
						popover-contenido="{{vPatron.AlfaText | json}}"
						popover-placement="top" popover-label="Label"
						popover-validation="{{primerApellido == undefined}}"
						maxlength="50" minlength="2"
						ng-keydown="onKeyDownAlfa($event,'vPatron.excepciones','primerApellido')"
						popover-is-open="errorTecla.primerApellido" ng-blur="onBlur"
						placeholder="Ejemplo: Salazar"
						name="vm.modelo['declarante'].primerApellido"
						class="input-sm form-control"
						ng-model="vm.modelo['declarante'].primerApellido"
						ng-disabled="disabled" required> <span
						class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['declarante'].primerApellido!= undefined"></span>
						<span class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['declarante'].primerApellido!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-6 form-group">
			<label class="col-sm-12 control-label">Segundo apellido:</label>
			<div class="col-sm-12 form-group"
				ng-class="{'': vm.modelo['declarante'].segundoApellido== undefined , 'has-success':  vm.modelo['declarante'].segundoApellido!= undefined}">
				<div class="input-group">
					<input type="text" popover-tittle="Formato de los apellidos"
						ng-pattern="vPatron.segundoApellido" custom-popover
						popover-contenido="{{vPatron.AlfaText | json}}"
						popover-placement="top" popover-label="Label"
						popover-validation="{{segundoApellido == undefined}}"
						maxlength="50" minlength="2"
						ng-keydown="onKeyDownAlfa($event,'vPatron.excepciones','segundoApellido')"
						popover-is-open="errorTecla.segundoApellido" ng-blur="onBlur"
						placeholder="Ejemplo: Romero"
						name="vm.modelo['declarante'].segundoApellido"
						class="input-sm form-control"
						ng-model="vm.modelo['declarante'].segundoApellido"
						ng-model-options="{ allowInvalid: true }" ng-disabled="disabled">
					<span class="input-group-addon" id="basic-addon1"> <span
						ng-hide="vm.modelo['declarante'].segundoApellido!= undefined"></span>
						<span
						ng-show="vm.modelo['declarante'].segundoApellido!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-6" ng-show="vm.modelo['declarante'].tipoDocumento=='V'">
			<label class="col-sm-12 control-label"> Nacionalidad: </label>
			<div class="col-sm-12 form-group"
				ng-class="{'has-error': vm.modelo['declarante'].tipoDocumento== undefined , 'has-success':  vm.modelo['declarante'].tipoDocumento!= undefined}">
				<div class="input-group">
					<select class="form-control input-sm"
						ng-model="vm.modelo['declarante'].nacionalidad"
						name="vm.modelo['declarante'].nacionalidad"
						ng-disabled="vm.modelo['declarante'].tipoDocumento=='V'">
						<option value="" selected>VENEZOLANA</option>
					</select> <span class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['declarante'].tipoDocumento=='V'"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['declarante'].tipoDocumento=='V'"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-6" ng-show="vm.modelo['declarante'].tipoDocumento!='V'">
			<label class="col-sm-12 control-label">Nacionalidad:</label>
			<div class="col-sm-12 form-group"
				ng-class="{'has-error': vm.modelo['declarante'].nacionalidad== undefined , 'has-success':  vm.modelo['declarante'].nacionalidad!= undefined}">
				<div class="input-group">
					<select class="form-control input-sm"
						name="vm.modelo['declarante'].nacionalidad"
						ng-model="vm.modelo['declarante'].nacionalidad"
						ng-options="nacionalidad.nombre for nacionalidad in nacionalidades">
						<option value="" selected>Seleccione</option>
					</select> <span class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['declarante'].nacionalidad!= undefined"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['declarante'].nacionalidad!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-2 form-group">
			<label class="col-sm-12 control-label"> Edad: </label>
			<div class="col-sm-12 form-group"
				ng-class="{'has-error': vm.modelo['declarante'].edad== undefined , 'has-success':  vm.modelo['declarante'].edad!= undefined}">
				<div class="input-group">
					<input type="text" uib-popover="{{validaciones.edad.mensaje}}"
						popover-title="{{validaciones.edad.titulo}}"
						popover-trigger="none" popover-is-open="vm.errorTecla.edad"
						ng-blur="vm.onBlur" ng-init="edadDeclarante()"
						ng-disabled="disabledEDADdeclarante"
						ng-keydown="vm.onKeyDown($event,'edad','edad')"
						ng-minlength="{{validaciones.edad.minimo}}"
						ng-maxlength="{{validaciones.edad.maximo}}" maxlength="3"
						name="vm.modelo['declarante'].edad" class="input-sm form-control"
						ng-model="vm.modelo['declarante'].edad" required> <span
						class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['declarante'].edad!= undefined"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['declarante'].edad!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<label class="col-sm-12 control-label">Profesi&oacute;n u
				ocupaci&oacute;n:</label>
			<div class="col-sm-12 form-group"
				ng-class="{'has-error': vm.modelo['declarante'].profesion== undefined , 'has-success':  vm.modelo['declarante'].profesion!= undefined}">
				<div class="input-group">
					<select class="form-control input-sm"
						name="vm.modelo['declarante'].profesion"
						ng-model="vm.modelo['declarante'].profesion"
						ng-options="ocupacion.nombre for ocupacion in ocupaciones"
						required>
						<option value="" selected>Seleccione</option>
					</select> <span class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['declarante'].profesion!= undefined"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['declarante'].profesion!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<h4>Datos de Residencia</h4>
		<span id="separadorTitulos"></span>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4 form-group">
			<label class="col-sm-12 control-label"> Pa&iacute;s:</label>
			<div class="col-sm-12 form-group"
				ng-class="{'has-error': vm.modelo['declarante'].pais== undefined , 'has-success':  vm.modelo['declarante'].pais!= undefined}">
				<div class="input-group">
					<select class="form-control input-sm"
						name="vm.modelo['declarante'].pais"
						ng-model="vm.modelo['declarante'].pais"
						ng-options="pais.nombre for pais in paises"
						ng-change="buscarEstadoDeclarante()" required>
						<option value="" selected>Seleccione</option>
					</select><span class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['declarante'].pais!= undefined"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['declarante'].pais!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-4 form-group">
			<label class="col-sm-12 control-label">Estado:</label>
			<div class="col-sm-12 form-group"
				ng-class="{'has-error': vm.modelo['declarante'].estado== undefined , 'has-success':  vm.modelo['declarante'].estado!= undefined}">
				<div class="input-group">
					<select class="form-control input-sm"
						name="vm.modelo['declarante'].estado"
						ng-required="vm.modelo['declarante'].pais.codigo== 'VEN'"
						ng-model="vm.modelo['declarante'].estado"
						ng-disabled="disaDeclarante"
						ng-options="estado.nombre for estado in estadosDeclarante"
						ng-change="buscarMunicipioDeclarante()">
						<option value="" selected>Seleccione</option>
					</select><span class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['declarante'].estado!= undefined"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['declarante'].estado!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-4 form-group">
			<label class="col-sm-12 control-label"> Municipio: </label>
			<div class="col-sm-12 form-group"
				ng-class="{'has-error': vm.modelo['declarante'].municipio== undefined , 'has-success':  vm.modelo['declarante'].municipio!= undefined}">
				<div class="input-group">
					<select class="form-control input-sm"
						name="vm.modelo['declarante'].municipio"
						ng-model="vm.modelo['declarante'].municipio"
						ng-disabled="disaDeclarante"
						ng-required="vm.modelo['declarante'].pais.codigo== 'VEN'"
						ng-options="municipio.nombre for municipio in municipiosDeclarante"
						ng-change="buscarParroquiaDeclarante()">
						<option value="" selected>Seleccione</option>
					</select><span class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['declarante'].municipio!= undefined"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['declarante'].municipio!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4 form-group">
			<label class="col-sm-12 control-label"> Parroquia: </label>
			<div class="col-sm-12 form-group"
				ng-class="{'has-error': vm.modelo['declarante'].parroquia== undefined , 'has-success':  vm.modelo['declarante'].parroquia!= undefined}">
				<div class="input-group">
					<select class="form-control input-sm"
						name="vm.modelo['declarante'].parroquia"
						ng-required="vm.modelo['declarante'].pais.codigo== 'VEN'"
						ng-model="vm.modelo['declarante'].parroquia"
						ng-disabled="disaDeclarante"
						ng-options="parroquia.nombre for parroquia in parroquiasDeclarante">
						<option value="" selected>Seleccione</option>
					</select><span class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['declarante'].parroquia!= undefined"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['declarante'].parroquia!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-8 form-group">
			<label class="col-sm-12 control-label">Direcci&oacute;n:</label>
			<div class="col-sm-12 form-group"
				ng-class="{'has-error': vm.modelo['declarante'].direccion== undefined , 'has-success':  vm.modelo['declarante'].direccion!= undefined}">
				<div class="input-group">
					<input type="text" popover-tittle="Formato de la direcci&oacute;n"
						ng-pattern="vPatron.direccion" custom-popover
						popover-contenido="{{vPatron.Pcementerio | json}}"
						popover-placement="top" popover-label="Label"
						popover-validation="{{direccion == undefined}}" maxlength="50"
						minlength="2"
						ng-keydown="onKeyDownCementerio($event,'vPatron.excepciones','direccion')"
						popover-is-open="errorTecla.direccion" ng-blur="onBlur"
						placeholder="{{validaciones.direccion.placeholder}}"
						name="vm.modelo['declarante'].direccion"
						class="input-sm form-control"
						ng-model="vm.modelo['declarante'].direccion"
						ng-disabled="disabled" required><span
						class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['declarante'].direccion!= undefined"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['declarante'].direccion!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
</form>

