<div class='col-sm-12'>
<p><br>¿Solicitud de cambio del nombre  del presentado es realizada  por una  persona distinta a padre y/o madre?</p>
</div>
<div class="col-sm-12">


<div class="col-sm-12">
	<label class='radio-inline'> <input type='radio' ng-click="vm.definirCambioNombrePadre()" ng-model="vm.modelo.pojo.cambioNombrePadre"  ng-value="true"> Si
	</div>
<div class="col-sm-12">
	<label class='radio-inline'> <input type='radio' ng-click="vm.definirCambioNombrePadre()" ng-model="vm.modelo.pojo.cambioNombrePadre"  ng-value="false"> No
</div>

</div>