<div class='col-sm-12'>
<p><br>¿Madre del presentado(a) se encuentra casada o en unión estable de hecho (UEH)  con el padre biológico?</p>
</div>
<div class="col-sm-12">


<div class="col-sm-12">
	<label class='radio-inline'> <input type='radio' ng-click="vm.padreBiologico()" ng-model="vm.modelo.pojo.casadoPadreBiologico"  ng-value="true"> Si
	</div>
<div class="col-sm-12">
	<label class='radio-inline'> <input type='radio' ng-click="vm.padreBiologico()" ng-model="vm.modelo.pojo.casadoPadreBiologico"  ng-value="false"> No
</div>

</div>