<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Informacion de los padres</h4>
	</div>
</div>

<div class="col-sm-12">

<div class="col-sm-12">
	<label class='radio-inline'> <input type='radio' ng-click="vm.definirPadres()" ng-model="vm.modelo.tipoPadres" ng-value="1"> Padre y Madre venezolanos por nacimiento (Art. 32.2  Constitución de la República Bolivariana de Venezuela)
	</div>
<div class="col-sm-12">
	<label class='radio-inline'> <input type='radio' ng-click="vm.definirPadres()" ng-model="vm.modelo.tipoPadres" ng-value="2"> Padre o Madre venezolano(a) por nacimiento (Art. 32.3  Constitución de la República Bolivariana de Venezuela)
</div>
<div class="col-sm-12">
	<label class='radio-inline'> <input type='radio' ng-click="vm.definirPadres()" ng-model="vm.modelo.tipoPadres" ng-value="3"> Padre y/o Madre venezolano(a) por naturalización (Art. 32.4 Constitución de la República Bolivariana de Venezuela)
</div>
</div>