<div class='col-sm-12'>
<p><br>¿Desea  repetir el único apellido de la  madre como segundo apellido de la persona presentada?</p>
</div>
<div class="col-sm-12">


<div class="col-sm-12">
	<label class='radio-inline'> <input type='radio' ng-click="vm.definirApellido()" ng-model="vm.modelo.soloApellido"  ng-value="true"> Si
	</div>
<div class="col-sm-12">
	<label class='radio-inline'> <input type='radio' ng-click="vm.definirApellido()" ng-model="vm.modelo.soloApellido"  ng-value="false"> No
</div>

</div>