<div class='col-sm-12'>
<p><br>¿ Madre del presentado(a) niega o desconoce los datos del padre?</p>
</div>
<div class="col-sm-12">


<div class="col-sm-12">
	<label class='radio-inline'> <input type='radio' ng-click="vm.definirMotivoNegativa()" ng-model="vm.modelo.pojo.confirmaDatosPadre"  ng-value="false"> Si
	</div>
<div class="col-sm-12">
	<label class='radio-inline'> <input type='radio' ng-click="vm.definirMotivoNegativa()" ng-model="vm.modelo.pojo.confirmaDatosPadre"  ng-value="true"> No
</div>

</div>