<div class="col-sm-12">

<div class="col-sm-12">
	<label class='radio-inline'> <input type='radio' ng-click="vm.definirDocumentoPublico()" ng-model="vm.modelo.tipoDoc" ng-value="1"> Declaración Jurada del(de la) partero(a)
	</div>
<div class="col-sm-12">
	<label class='radio-inline'> <input type='radio' ng-click="vm.definirDocumentoPublico()" ng-model="vm.modelo.tipoDoc" ng-value="2"> Carta de Consejo Comunal
</div>
<div class="col-sm-12">
	<label class='radio-inline'> <input type='radio' ng-click="vm.definirDocumentoPublico()" ng-model="vm.modelo.tipoDoc" ng-value="3"> Declaración Jurada de cuatro testigos
</div>
</div>