<div class='col-sm-12'>
<p><br>¿El padre biológico del presentado(a) se encuentra en el acto o hecho de nacimiento?</p>
</div>
<div class="col-sm-12">


<div class="col-sm-12">
	<label class='radio-inline'> <input type='radio' ng-disabled="padreAutenticado" ng-click="vm.definirPadrePresente()" ng-model="vm.modelo.pojo.padreBiologicoPresente"  ng-value="true"> Si
	</div>
<div class="col-sm-12">
	<label class='radio-inline'> <input type='radio' ng-disabled="padreAutenticado" ng-click="vm.definirPadrePresente()" ng-model="vm.modelo.pojo.padreBiologicoPresente"  ng-value="false"> No
</div>

</div>