<div class="col-sm-6">
	<p>&#191Nacimiento ocurrido dentro del territorio nacional?</p>
<div class="col-sm-3">
	<label class='radio-inline'> <input type='radio' ng-click="vm.otro()" ng-model="vm.modelo.pojo.lugarNacimientoVenezuela" ng-value="true" ng-disabled="disabledLugar"> Si
	</div>
<div class="col-sm-3">
	<label class='radio-inline'> <input type='radio' ng-click="vm.levantarModal1()" ng-model="vm.modelo.pojo.lugarNacimientoVenezuela" ng-value="false" ng-disabled="disabledLugar"> No
</div>
	
</div>
</div>