<div class='col-sm-12'>
<p><br>¿Solicitud de cambio del nombre del presentado indicado en el certificado médico de nacimiento  EV-25?</p>
</div>
<div class="col-sm-12">


<div class="col-sm-12">
	<label class='radio-inline'> <input type='radio' ng-click="vm.definirCambioEV25()" ng-model="vm.modelo.pojo.cambioNombre"  ng-value="true"> Si
	</div>
<div class="col-sm-12">
	<label class='radio-inline'> <input type='radio' ng-click="vm.definirCambioEV25()" ng-model="vm.modelo.pojo.cambioNombre"  ng-value="false"> No
</div>

</div>