
<div class="col-sm-12">
					<div class="col-sm-12">
						<label class="col-sm-5 control-label">Fecha de nacimiento del padre</label>
						<sw-calendar label="Fecha" vertical="true" type="text"
							ng-model="vm.modelo.fechaPadre"  
							ng-class="{'has-error': vm.modelo.fecha_== undefined , 'has-success':  vm.modelo.fechaPadre!= undefined}"
							required> <span class="input-group-addon"
							id="basic-addon1"> 
							<span
							class="glyphicon glyphicon-asterisk"
							ng-show="vm.modelo.fechaPadre!= undefined"></span> 
							<span
							class="glyphicon glyphicon-ok"
							ng-show="vm.modelo.fechaPadre!= undefined"></span>
						</span> </sw-calendar>
					</div>
				</div>