<div class='col-sm-12'>
<p><br>¿El presentado(a) posee  certificado médico de nacimiento (EV-25)?</p>
</div>
<div class="col-sm-12">


<div class="col-sm-12">
	<label class='radio-inline'> <input type='radio' ng-click="vm.poseeEV()" ng-model="vm.modelo.pojo.ev25"  ng-value="true" > Si
	</div>
<div class="col-sm-12">
	<label class='radio-inline'> <input type='radio' ng-click="vm.poseeEV()" ng-model="vm.modelo.pojo.ev25"  ng-value="false"> No
</div>

</div>

<div class='col-sm-12' ng-hide="ocultarNumeroEV">
<br><label class='col-sm-6'>Ingresar el número de certificado médico de nacimiento EV-25:</label>


<div class="col-sm-6">


<div class="col-sm-6">
	<input type="text" class="input-group" maxlength="8"
						minlength="8"
						ng-keyup="validarEV25()"
						ng-blur="onBlur"
						placeholder="Ejemplo: 12345678" 
						ng-model="numEV25"
						ng-disabled="disabledNumeroEV25"><span
						class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="numEV25!= undefined"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="numEV25!= undefined"></span>
					</span>
	</div>
</div>

</div>
<footer class="footer alert alert-info" ng-show="mostrarPanelFooter1">NOTA: Número de certificado médico de nacimiento EV-25 válido</footer>



