<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">
            Gesti&oacute;n de ECU <span
                class="glyphicon glyphicon-pencil pull-right"></span>
        </h3>
    </div>
    <br>
    <form name="myFormEcu"
          class="ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required ng-valid-pattern">
        <div id="panel1" collapse="panel != 0" role="tabpanel" aria-labelledby="condicion">
            <div class="panel-body performHeightBody"
                 style="height: {{heightPerformPeticionDatos}}">

                <div class="row">
                    <div class="col-sm-12">
                        <h4>Datos de Identificaci&oacute;n</h4>
                        <span id="separadorTitulos"></span>
                    </div>
                </div>

                <div class="row col-sm-8">
                    <div id="ciudadanoContent">

                        <div class="row" ng-model="listDocumentos">
                            <div class="col-sm-12 form-group" ng-class="{'has-error': tipoDocumento == undefined,
																							'has-success':  tipoDocumento != undefined}">
                                <div class="col-sm-5">
                                    <label class="control-label" style="">
                                        <span class="glyphicon glyphicon-asterisk no"
                                              ng-hide="tipoDocumento != undefined"></span>
                                        <span class="glyphicon glyphicon-ok ng-hide"
                                              ng-show="tipoDocumento != undefined"></span>

                                        Tipo de Documento de Identificaci&oacute;n
                                    </label>
                                </div>
                                <div class="input-group col-sm-6" style="">
                                    <select
                                            class="form-control input-sm ng-pristine ng-untouched ng-invalid ng-invalid-required"
                                            ng-model="tipoDocumento" id="tipoDocumento"
                                            ng-change="tipoDocumentoChange()"
                                            name="tipoDocumento_field" required="">
                                        <option value="" selected="selected" disabled="">Por favor seleccione</option>
                                        <option value="CED" label="C&Eacute;DULA">C&Eacute;DULA</option>
                                        <option value="NUI" label="NUI (N&Uacute;MERO &Uacute;NICO DE IDENTIDAD)">NUI (N&Uacute;MERO &Uacute;NICO
                                            DE IDENTIDAD)
                                        </option>
                                    </select>

                                    <div class="help-block message_merge"
                                         ng-messages="myFormEcu.tipoDocumento_field.$error"
                                         ng-if="myFormEcu.tipoDocumento_field.$touched">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="tipoDocumento != undefined">
                            <div ng-show="tipoDocumento =='CED'">
                                <br/> <br/> <br/> <br/>
                                <div class="col-sm-12 form-group has-error"
                                     ng-class="{'has-error': (tipoDocCdano == undefined || nroDocCed == undefined),
																											'has-success':  tipoDocCdano != undefined && nroDocCed != undefined}">
                                    <div class="col-sm-5">
                                        <label class=" control-label"> <span
                                                class="glyphicon glyphicon-asterisk no"
                                                ng-hide="myFormEcu.tipoDocCdano_field.$valid && myFormEcu.nroDocCed_field.$valid"></span>
												<span class="glyphicon glyphicon-ok ng-hide"
                                                      ng-show="myFormEcu.tipoDocCdano_field.$touched && myFormEcu.nroDocCed_field.$valid"></span>

                                            N&uacute;mero de Documento de Identificaci&oacute;n
                                        </label>
                                    </div>
                                    <div class="input-group col-sm-2 FlotarL">
                                        <select
                                                class="form-control input-sm ng-pristine ng-untouched ng-invalid ng-invalid-required"
                                                ng-model="tipoDocCdano" id="tipoDocCdano"
                                                name="tipoDocCdano_field" required="" ng-trim="true">
                                            <option value="" selected="" disabled="">Seleccione</option>
                                            <option label="V" value="V">V</option>
                                            <option label="E" value="E">E</option>
                                        </select>

                                    </div>                               
                                    <div class="input-group col-sm-4 col-sm-offset-0 FlotarL">
                                    <div style="margin-left: 15%">
                                        <input type="text" class="form-control input-sm"
                                               placeholder="Ejm. 12345678" aria-describedby="basic-addon1"
                                               id='nroDocCed' name="nroDocCed_field" ng-model="nroDocCed"
                                               required="" ng-model="nroDocCed" ng-pattern="vPatron.Cedula"
                                               required="" ng-keyup="triggerPopOver('nroDocCed_field')"
                                               popover-tittle="Formato de la C&eacute;dula" custom-popover
                                               popover-contenido="{{vPatron.CedulaText | json}}"
                                               popover-placement="top" popover-label="Label"
                                               popover-validation="{{nroDocCed == undefined}}">
                                      </div>
                                    </div>
                                    <div class="row col-sm-6 col-sm-offset-5">
                                        <div class="help-block message_merge"
                                             ng-messages="myFormEcu.tipoDocCdano_field.$error && myFormEcu.nroDocCed_field.$error"
                                             ng-if="myFormEcu.tipoDocCdano_field.$touched || myFormEcu.nroDocCed_field.$touched">
                                            <p ng-message="pattern">Por favor, Introduzca
                                                correctamente la informaci&oacute;n</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="tipoDocumento != 'CED' && tipoDocumento != undefined">

                                <div class="col-sm-12 form-group has-error" ng-class="{'has-error': nroDoc== undefined,
																										'has-success':  nroDoc != undefined}">
                                    <div class="col-sm-5">
                                        <label class=" control-label">

                                            <span class="glyphicon glyphicon-asterisk no"
                                                  ng-hide="myFormEcu.nroDoc_field.$valid"></span>
                                            <span class="glyphicon glyphicon-ok ng-hide"
                                                  ng-show="myFormEcu.nroDoc_field.$valid"></span>

                                            N&uacute;mero de Identificaci&oacute;n
                                        </label>
                                    </div>
                                    <div class="input-group col-sm-6">
                                        <input type="text" class="form-control input-sm" aria-describedby="basic-addon1"
                                               id='nroDoc' name="nroDoc_field" ng-model="nroDoc"
                                               ng-pattern="vPatron.NumeroDocumento"
                                               placeholder="N&uacute;mero de Documento" required=""
                                               ng-keyup="triggerPopOver('nroDoc_field')"
                                               popover-tittle="Formato de N&uacute;mero de Identificaci&oacute;n"
                                               custom-popover popover-contenido="{{vPatron.NumeroDocumentoText | json}}"
                                               popover-placement="top" popover-label="Label"
                                               popover-validation="{{nroDoc == undefined}}"
                                               ng-class="{'has-default':
													nroDoc == undefined }"
                                        >
                                        <div class="help-block message_merge"
                                             ng-messages="myFormEcu.nroDoc_field.$error"
                                             ng-if="myFormEcu.nroDoc_field.$touched">
                                            <p ng-message="pattern">Por favor, Introduzca correctamente la informaci&oacute;n</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer footerFijo">
                    <div class="row col-sm-12">
                        <div class="col-sm-1 pull-right">
                            <input ng-show="blnEntidad != undefined  &&
							(( tipoDocCdano != undefined && nroDocCed != undefined) || ( nroDoc != undefined ))"
                                   type="button" value="Siguiente" class="btn btn-success pull-right btn-sm"
                                   ng-click="continuarFichaEcu()">

                        </div>
                        <div class="col-sm-5 pull-right">&emsp;</div>
                        <div class="col-sm-1 pull-right">
                            <input type="button" value="Cancelar"
                                   ng-show="blnEntidad != undefined &&
								( tipoDocCdano != undefined || nroDocCed != undefined || nroDoc != undefined )"
                                   class="btn btn-danger pull-right btn-sm"
                                   ng-click="reloadPage('md')">
                        </div>
                        <div class="col-sm-1 pull-right">&emsp;</div>
                        <div class="col-sm-1 pull-right">
                            <input type="button" value="Limpiar Campos"
                                   ng-show="blnEntidad != undefined
								&& ( tipoDocCdano != undefined || nroDocCed != undefined || nroDoc != undefined )"
                                   class="btn btn-warning pull-right btn-sm"
                                   ng-click="clearFields(myFormEcu)">
                        </div>
                        <div class="col-sm-1 pull-right">&emsp;</div>
                        <div class="col-sm-2 pull-right">
							<span class="pull-left" ng-show="blnEntidad == 'ciudadanoDiv'">Campos
								Obligatorios <span class="glyphicon glyphicon-asterisk no"></span>
							</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form name="formTipoSolicitud"
          class="ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required ng-valid-pattern">
        <div id="panel2" collapse="panel != 1" role="tabpanel" aria-labelledby="condicion">
            <div class="panel-body" style="height: {{heightPerform}}">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Ficha de ECU</h4>
                        <span id="separadorTitulos"></span>
                    </div>
                </div>
                <div class="col-sm-6 FlotarL">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-list-alt"></span> Atributos del
                            ECU del Ciudadano
                        </div>
                        <div class="row" ng-show="ciudadano != undefined">
                            <!-- 								<table class="table table-striped table-condensed"> -->
                            <!-- 									<thead> -->
                            <!-- 										<tr style="background: #797979; color: white;"> -->
                            <!-- 											<td style="width:40%; text-align: center;"> -->
                            <!-- 												<strong>Atributos</strong> -->
                            <!-- 											</td> -->
                            <!-- 											<td style="width:40%; text-align: center;"> -->
                            <!-- 												<strong>Descripci&oacute;n</strong> -->
                            <!-- 											</td> -->
                            <!-- 											<td style="wdith:15%;"> -->
                            <!-- 												&nbsp; -->
                            <!-- 											</td> -->
                            <!-- 										</tr> -->
                            <!-- 									</thead> -->
                            <!-- 								</table> -->
                            <div id="contentFichaTabla" class="contentFichaTabla col-sm-12"
                                 style="height: {{tablaFichaEcu}}">
                                <table class="table table-striped table-condensed">
                                    <tbody>
                                    <tr>
                                        <td style="width: 40%; text-align: left;">NUI:</td>
                                        <td style="width: 45%; text-align: left;"><span
                                                ng-show="fichaECU.NUI != undefined">
                                 {{fichaECU.NUI}} </span>
                                        </td>
                                        <td style="wdith: 15%;">{{fichaECU.estadoECU}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%; text-align: left;">Tipo
                                            Documento:
                                        </td>
                                        <td style="width: 45%; text-align: left;"><span
                                                ng-show="fichaECU.tipoDoc != undefined">
                                 {{fichaECU.tipoDoc}} </span>
                                        </td>
                                        <td style="wdith: 15%;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%; text-align: left;">Nro.
                                            Documento:
                                        </td>
                                        <td style="width: 45%; text-align: left;"><span
                                                ng-show="fichaECU.nroDoc != undefined">
                                 {{fichaECU.nroDoc}} </span>
                                        </td>
                                        <td style="wdith: 15%;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%; text-align: left;">Nombres:</td>
                                        <td style="width: 45%; text-align: left;"><span
                                                ng-show="fichaECU.nombres != undefined">
                                 {{fichaECU.nombres}} </span>
                                        </td>
                                        <td style="wdith: 15%;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%; text-align: left;">Apellidos:</td>
                                        <td style="width: 45%; text-align: left;"><span
                                                ng-show="fichaECU.apellidos != undefined">
                                 {{fichaECU.apellidos}} </span>
                                        </td>
                                        <td style="wdith: 15%;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%; text-align: left;">Fecha de
                                            Nacimiento:
                                        </td>
                                        <td style="width: 45%; text-align: left;"><span
                                                ng-show="fichaECU.fechaNac != undefined">
                                 {{fichaECU.fechaNac | date:'dd/MM/yyyy' : 'UTC'}} </span>
                                        </td>
                                        <td style="wdith: 15%;">&nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%; text-align: left;">Edad:
                                        </td>
                                        <td style="width: 45%; text-align: left;"><span
                                                ng-show="fichaECU.fechaNac != undefined">
                                {{ fichaECU.fechaNac |
                                            ageFilter }} </span>
                                        </td>
                                        <td style="wdith: 15%;">&nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%; text-align: left;">Lugar de
                                            Nacimiento:
                                        </td>
                                        <td style="width: 45%; text-align: left;"><span
                                                ng-show="fichaECU.lugarNac != undefined">
                                 {{fichaECU.lugarNac}} </span>
                                        </td>
                                        <td style="wdith: 15%;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%; text-align: left;">Estado Civil:
                                        </td>
                                        <td style="width: 45%; text-align: left;"><span
                                                ng-show="fichaECU.estadoCivil != undefined">
                                 {{fichaECU.estadoCivil}} </span>
                                        </td>
                                        <td style="wdith: 15%;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%; text-align: left;">Sexo:</td>
                                        <td style="width: 45%; text-align: left;"><span
                                                ng-show="fichaECU.sexo != undefined">
                                 {{fichaECU.sexo}} </span>
                                        </td>
                                        <td style="wdith: 15%;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%; text-align: left;">
                                            Nacionalidad:
                                        </td>
                                        <td style="width: 45%; text-align: left;"><span
                                                ng-show="fichaECU.nacionalidad != undefined">
                                 {{fichaECU.nacionalidad}} </span>
                                        </td>
                                        <td style="wdith: 15%;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%; text-align: left;">
                                            Condici&oacute;n de la Nacionalidad:
                                        </td>
                                        <td style="width: 45%; text-align: left;"><span
                                                ng-show="fichaECU.condicionNacionalidad != undefined">
                                 {{fichaECU.condicionNacionalidad}} </span>
                                        </td>
                                        <td style="wdith: 15%;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%; text-align: left;">Tiempo de
                                            Residencia en el Pa&iacute;s:
                                        </td>
                                        <td style="width: 45%; text-align: left;"><span
                                                ng-show="fichaECU.fechaResidencia != undefined">
                                 {{fichaECU.fechaResidencia | ageFilter}} </span>
                                 <span
                                                ng-show="fichaECU.fechaResidencia == undefined">
                                 N/A</span>                                 
                                        </td>
                                        <td style="wdith: 15%;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%; text-align: left;">Estado del
                                            Ciudadano(a):
                                        </td>
                                        <td style="width: 45%; text-align: left;"><span
                                                ng-show="fichaECU.estadoCiudadano != undefined">
                                 {{fichaECU.estadoCiudadano}} </span>
                                        </td>
                                        <td style="wdith: 15%;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%; text-align: left;">
                                            N&uacute;mero de Hijos Registrados:
                                        </td>
                                        <td style="width: 45%; text-align: left;"><span
                                                ng-show="fichaECU.numeroHijosRegistrados != undefined">
                                 {{fichaECU.numeroHijosRegistrados}} </span>
                                        </td>
                                        <td style="wdith: 15%;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%; text-align: left;">
                                            Direcci&oacute;n de Residencia:
                                        </td>
                                        <td style="width: 45%; text-align: left;"><span
                                                ng-show="fichaECU.direccionResi != undefined">
                                 {{fichaECU.direccionResi}} </span>
                                 <span
                                                ng-show="fichaECU.direccionResi == undefined">
                                 N/A </span>
                                        </td>
                                        <td style="wdith: 15%;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%; text-align: left;">UEH
                                            Registrada:
                                        </td>
                                        <td style="width: 45%; text-align: left;"><span
                                                ng-show="fichaECU.uehRegistrada != undefined">
                                 {{fichaECU.uehRegistrada}} </span>
                                        </td>
                                        <td style="wdith: 15%;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%; text-align: left;">Capacidad
                                            Registrada:
                                        </td>
                                        <td style="width: 45%; text-align: left;"><span
                                                ng-show="fichaECU.capacidadRegistrada != undefined">
                                 {{fichaECU.capacidadRegistrada}} </span>
                                        </td>
                                        <td style="wdith: 15%;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%; text-align: left;">Comunidad o
                                            Pueblo Ind&iacute;gena:
                                        </td>
                                        <td style="width: 45%; text-align: left;"><span
                                                ng-show="fichaECU.comunidadIndigena != undefined">
                                 {{fichaECU.comunidadIndigena}} </span>
                                        </td>
                                        <td style="wdith: 15%;">&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- 						<div class="row"> -->
                    <!-- 							<h4>Atributos del ECU del Ciudadano</h4> -->
                    <!-- 							<span id="separadorTitulos"></span> -->
                    <!-- 						</div> -->
                </div>
                <div class="col-sm-6 FlotarR actasEnlazadas"
                     style="height: {{heightActas}}">
                    <div id="actas">
                        <div class="row">
                        <div class="col-sm-12"><h4>Actas del Ciudadano</h4>
                            <span id="separadorTitulos"></span>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-sm-12">
                            <table id="table_id" datatable=""
                                   class="table table-striped table-bordered table-hover dataTable no-footer display  table-condensed ng-isolate-scope"
                                   style="display: table;" role="grid"
                                   aria-describedby="table_id_info" ng-show="fichaECU.aParticipante.length > 0">
                                <thead>
                                <tr>
                                    <th class="sorting_asc" tabindex="0" aria-controls="table_id"
                                        rowspan="1" colspan="1" aria-sort="ascending"
                                        aria-label="N&uacute;mero de la solicitud: activate to sort column descending">N&uacute;mero
                                        de Acta
                                    </th>
                                    <!-- 										<th style="text-align: center;"><strong>N&uacute;mero de Acta</strong></th> -->
                                    <th class="sorting_asc" tabindex="0" aria-controls="table_id"
                                        rowspan="1" colspan="1" aria-sort="ascending"
                                        aria-label="A&#241;o: activate to sort column descending">A&#241;o
                                    </th>
                                    <!-- 											<th style="text-align: center;"><strong>A&#241;o</strong></th> -->
                                    <th class="sorting_asc" tabindex="0" aria-controls="table_id"
                                        rowspan="1" colspan="1" aria-sort="ascending"
                                        aria-label="Oficina: activate to sort column descending">Oficina
                                    </th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="table_id"
                                        rowspan="1" colspan="1" aria-sort="ascending"
                                        aria-label="Tipo de Acta: activate to sort column descending">Tipo
                                        de Acta
                                    </th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="i in fichaECU.aParticipante | unique:'numeroActa'">
                                <tr>
                                    <td>{{i.numeroActa}}</td>
                                    <td>{{i.libro.numeroAnio}}</td>
                                    <td>{{i.libro.oficina.nombre}}</td>
                                    <td>{{i.libro.tipoLibro.nombre}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                    <div id="actas">
                        <div class="row">
                            <div class="col-sm-12"><h4>Actas Vinculadas</h4>
                            <span id="separadorTitulos"></span></div>
                        </div>
                        <div class="row">
                        <div class="col-sm-12"><h4>Hijo(a)s</h4>
                            <span id="separadorTitulos"></span></div>
                          <div class="col-sm-12">  
                            <table id="table_id" datatable=""
                                   class="table table-striped table-bordered table-hover dataTable no-footer display  table-condensed ng-isolate-scope"
                                   style="display: table;" role="grid"
                                   aria-describedby="table_id_info" ng-show="fichaECU.aVinculadas.length > 0">
                                <thead>
                                <tr>
                                    <th><strong>N&uacute;mero de Acta</strong></th>
                                    <th><strong>A&#241;o</strong></th>
                                    <th><strong>Nombre</strong></th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="i in fichaECU.aVinculadas">
                                <tr>
                                    <td>{{i.numeroActa}}</td>
                                    <td>{{i.libro.numeroAnio}}</td>
                                    <td ng-repeat="j in i.participantes">{{j.primerNombre}}
                                        {{j.primerApellido}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                    <div id="actas">
                        <div class="row">
                            <div class="col-sm-12"><h4>C&oacute;nyuge</h4>
                            <span id="separadorTitulos"></span></div>
                        </div>
                        <div class="row">
                            <!-- {{fichaECU.aParticipante[0]}}-->
                            <div class="col-sm-12">
                            <table id="table_id" datatable=""
                                   class="table table-striped table-bordered table-hover dataTable no-footer display  table-condensed ng-isolate-scope"
                                   style="display: table;" role="grid"
                                   aria-describedby="table_id_info" ng-show="fichaECU.aParticipante[0].participantes[0].documentoIdentidad[0].numero!=undefined 
                                   || fichaECU.aParticipante[1].participantes[0].documentoIdentidad[0].numero!=undefined">
                                <thead>
                                <tr>
                                    <th><strong>Nombre</strong></th>
                                    <th><strong>Documento de Identidad</strong></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-if="fichaECU.aParticipante[1].participantes[0].documentoIdentidad[0].numero==fichaECU.nroDoc">
                                    <td>{{fichaECU.aParticipante[0].participantes[0].primerNombre}}
                                        {{fichaECU.aParticipante[0].participantes[0].primerApellido}}
                                    </td>
                                    <td>{{fichaECU.aParticipante[0].participantes[0].documentoIdentidad[0].numero}}</td>
                                </tr>
                                <tr ng-if="fichaECU.aParticipante[1].participantes[0].documentoIdentidad[0].numero!=fichaECU.nroDoc">
                                    <td>{{fichaECU.aParticipante[1].participantes[0].primerNombre}}
                                        {{fichaECU.aParticipante[1].participantes[0].primerApellido}}
                                    </td>
                                    <td>{{fichaECU.aParticipante[1].participantes[0].documentoIdentidad[0].numero}}</td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer footerFijo">
                <div class="row col-sm-12">
                    <div class="col-sm-1 pull-right">
                        <input type="button" value="Finalizar"
                               class="btn btn-success pull-right btn-sm"
                               ng-click="finalizarECU()">
                    </div>
                    <div class="col-sm-3 pull-right">&emsp;</div>
                    <div class="col-sm-1 pull-right">
                        <input type="button" value="Cancelar"
                               ng-show="(blnEntidad != undefined)"
                               class="btn btn-danger pull-right btn-sm"
                               ng-click="reloadPage('md')">
                    </div>
                    <div class="col-sm-1 pull-right">&emsp;</div>
                    <div class="col-sm-1 pull-right">
                        <input type="button" value="Limpiar Campos"
                               ng-show="blnTipoSolicitud == 'consultaSolicitud'"
                               class="btn btn-warning pull-right btn-sm"
                               ng-click="clearFields(formTipoSolicitud)">
                    </div>
                    <div class="col-sm-1 pull-right">&emsp;</div>
                    <div class="col-sm-1 pull-right">
                        <input ng-show="blnEntidad != undefined" type="Button"
                               value="Regresar" class="btn btn-success pull-right btn-sm"
                               ng-click="backAcordeon()">
                    </div>
                    <div class="col-sm-1 pull-right">&emsp;</div>
                    <div class="col-sm-2 pull-right">
                        Campos obligatorios <span class="glyphicon glyphicon-asterisk no"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- <form name="formDatosSolicitud"
        class="ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required ng-valid-pattern">
        <div id="panel3" collapse="panel != 2" role="tabpanel"
            aria-labelledby="condicion">
            <div class="panel-body panel-success"
                style="height: {{heightPerform}}">
                <div class="col-sm-12">

                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Consulta de Acta</h4>
                            <span id="separadorTitulos"></span>
                        </div>
                    </div>
                    <div align="center">
                        <label>&ensp;Nro. de Acta: 2007-18-175 &ensp;
                            A&#241;o:2007 &ensp; Oficina: La Candelaria &ensp; Tipo Acta:
                            Matrimonio </label> <img id="viewerTestEcu"
                            src="/web-ecu/resources/site/img/actas.png"
                            class='img-responsive'>
                    </div>

                </div>

            </div>
            <div class="modal-footer footerFijo">
                <div class="row col-sm-12">
                    <div class="col-sm-1 pull-right">
                        <input ng-show="blnEntidad != undefined" type="submit"
                            value="Finalizar" class="btn btn-success pull-right btn-sm"
                            ng-click="finalizarECU()">
                    </div>
                    <div class="col-sm-6 pull-right">&emsp;</div>
                    <div class="col-sm-1 pull-right">
                        <input type="button" value="Cancelar"
                            class="btn btn-danger pull-right btn-sm"
                            ng-click="reloadPage('md')">
                    </div>
                    <div class="col-sm-1 pull-right">&emsp;</div>
                    <div class="col-sm-1 pull-right">
                        <input ng-show="blnEntidad != undefined" type="Button"
                            value="Regresar" class="btn btn-success pull-right btn-sm"
                            ng-click="backAcordeon()">
                    </div>
                </div>
            </div>
        </div>
    </form> -->
</div>

