<div ng-controller="RgDefuncionController as vm">

	<div class="modal-header wizard-header">
		<button type="button" class="close wizard-close" ng-click="$root.open()" aria-hidden="true">&times;</button>
		<h3 class="modal-title wizard-title" ng-bind="$root.tituloWizard"></h3>
		<span class="wizard-subtitle"></span>
	</div>

	<div class="modal-body wizard-body">

		<div class="pull-left wizard-steps">
			<div class="wizard-nav-container">
				<ul class="nav wizard-nav-list list-group">
					<li class="list-group-item active" ng-repeat="paso in vm.pasos">{{paso}}</li>
				</ul>
			</div>

			<div class="wizard-progress-container">
				<uib-progressbar class="progress-striped active"
					max="vm.pasos.length+1" value="vm.activo+1"> </uib-progressbar>
			</div>
		</div>

		<div class="wizard-cards" ng-show='vm.visibilidad.registro'>
			<div class="wizard-card-container" style='height: 526px;'>
				<div
					ng-class="{panelParticipantes:vm.user.activo==0||vm.user.activo==1||vm.user.aCancelar}"
					id="panelParticipantes" class="panel panel-default">
					<div class="panel-heading">
						<h4>Solicitud de registro de defunción</h4>
					</div>
					<div class="panel-body">
						<div ng-bind-html="$root.html" carta="$root.html"></div>

						<!-- 						<div ng-show="vm.cancelByEV14" class="alert alert-danger" -->
						<!-- 							role="alert"> -->
						<!-- 							<div class="container-fluid"> -->
						<!-- 								<div class="row"> -->
						<!-- 									<p class="col-sm-1"> -->
						<!-- 										<span style="font-size: 3em;" -->
						<!-- 											class="glyphicon glyphicon-remove"></span> -->
						<!-- 									</p> -->
						<!-- 									<p id="generico" class="col-sm-11">La solicitud fue -->
						<!-- 										cancelada, El numero de certificado medico EV-14 no se -->
						<!-- 										encuentra registrado</p> -->
						<!-- 								</div> -->
						<!-- 							</div> -->
						<!-- 						</div> -->
					</div>
				</div>




				<div class="col-sm-12">
					<div ng-show="vm.visibilidad.flash"
						ng-class="vm.visibilidad.flash ? 'alert alert-info' : 'alert alert-warning'">
						<span class="glyphicon glyphicon-exclamation-sign"
							aria-hidden="true"></span> <em ng-bind-html="vm.messageTxt"> </em>
					</div>
				</div>



			</div>
		</div>


		<div class="wizard-cards" ng-show='vm.visibilidad.recaudos'>
			<div class="wizard-card-container" style='height: 526px;'>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Tipo de escenario</h4>
					</div>
					<div class="panel-body">
						<img alt=""
							src="/web-registrarDefuncion/resources/img/recaudos.png">
					</div>
				</div>
			</div>
		</div>

		<div class="wizard-cards">
			<div class="wizard-card-container"
				ng-show='vm.visibilidad.detFallecido' style='height: 526px;'>
				<div
					ng-include="'/web-registrarDefuncion/resources/pages/templates/datos_fallecido.html'">
				</div>
			</div>
			<div class="wizard-card-container"
				ng-show='vm.visibilidad.datosDefuncion' style='height: 526px;'>
				<div
					ng-include="'/web-registrarDefuncion/resources/pages/templates/datos_defuncion.html'">
				</div>
			</div>
			<div class="wizard-card-container"
				ng-show='vm.visibilidad.datosCertificado' style='height: 526px;'>
				<div
					ng-include="'/web-registrarDefuncion/resources/pages/templates/datos_certificado_defuncion.html'">
				</div>
			</div>
			<div class="wizard-card-container" ng-show='vm.visibilidad.conyugue'
				style='height: 526px;'>
				<div
					ng-include="'/web-registrarDefuncion/resources/pages/templates/datos_familiares_conyugue.html'">
				</div>
			</div>
			<div class="wizard-card-container" ng-show='vm.visibilidad.hijos'
				style='height: 526px;'>
				<div
					ng-include="'/web-registrarDefuncion/resources/pages/templates/datos_familiares_hijos.html'">
				</div>
			</div>
		</div>


	</div>


	<div class="wizard-footer">

		<div ng-show='vm.visibilidad.registro'>
			<div class="wizard-buttons-container">
				<button class="btn btn-danger wizard-cancel wizard-close" ng-click="cancel()"
					type="button">Cancelar</button>
				<div class="btn-group-single pull-right">
					<button ng-click="vm.regresar()" class="btn wizard-back"
						type="button">Regresar</button>
					<button ng-click="vm.consultarDrools()"
						class="btn btn-primary wizard-next" type="button">Continuar</button>
				</div>
			</div>
		</div>

		<div ng-show='vm.visibilidad.recaudos'>
			<div class="wizard-buttons-container">
				<button class="btn btn-danger wizard-cancel wizard-close" ng-click="cancel()"
					type="button">Cancelar</button>
				<div class="btn-group-single pull-right">
					<button ng-click="" class="btn wizard-back" type="button">Regresar</button>
					<button ng-click="vm.accionBotones('ecu')"
						class="btn btn-primary wizard-next" type="button">Continuar</button>
				</div>
			</div>
		</div>

		<div ng-show='vm.visibilidad.datosDefuncion'>
			<div class="wizard-buttons-container">
				<button class="btn btn-danger  wizard-cancel wizard-close" ng-click="cancel()"
					type="button">Cancelar</button>
				<div class="btn-group-single pull-right">
					<button class="btn wizard-back"
						type="button">Regresar</button>
					<button ng-click="vm.accionBotones('datCertificado')"
						class="btn btn-primary wizard-next" type="button">Continuar</button>
				</div>
			</div>
		</div>

		<div ng-show='vm.visibilidad.detFallecido'>
			<div class="wizard-buttons-container">
				<button class="btn btn-danger wizard-cancel wizard-close" ng-click="cancel()"
					type="button">Cancelar</button>
				<div class="btn-group-single pull-right">
					<button ng-click="" class="btn wizard-back" type="button">Regresar</button>
					<button ng-click="vm.accionBotones('datDefuncion')"
						class="btn btn-primary wizard-next" type="button">Continuar</button>
				</div>
			</div>
		</div>

		<div ng-show='vm.visibilidad.datosCertificado'>
			<div class="wizard-buttons-container">
				<button class="btn btn-danger wizard-cancel wizard-close" ng-click="cancel()"
					type="button">Cancelar</button>
				<div class="btn-group-single pull-right">
					<button ng-click="vm.accionBotones('datDefuncion')"
						class="btn wizard-back" type="button">Regresar</button>
					<button ng-click="vm.accionBotones('datConyugue')"
						class="btn btn-primary wizard-next" type="button">Continuar</button>
				</div>
			</div>
		</div>

		<div ng-show='vm.visibilidad.conyugue'>
			<div class="wizard-buttons-container">
				<button class="btn btn-danger wizard-cancel wizard-close" ng-click="cancel()"
					type="button">Cancelar</button>
				<div class="btn-group-single pull-right">
					<button ng-click="vm.accionBotones('datCertificado')"
						class="btn wizard-back" type="button">Regresar</button>
					<button ng-click="vm.accionBotones('datHijos')"
						class="btn btn-primary wizard-next" type="button">Continuar</button>
				</div>
			</div>
		</div>

		<div ng-show='vm.visibilidad.hijos'>
			<div class="wizard-buttons-container">
				<button class="btn wizard-cancel wizard-close" ng-click="cancel()"
					type="button">Cancelar</button>
				<div class="btn-group-single pull-right">
					<button ng-click="vm.accionBotones('datConyugue')"
						class="btn wizard-back" type="button">Regresar</button>
					<button ng-click="vm.accionBotones('')"
						class="btn btn-primary wizard-next" type="button">Continuar</button>
				</div>
			</div>
		</div>
	</div>



</div>
</div>