<div ng-controller="VerificacionControlador as vm">
	<div class="modal-header wizard-header">
		<button type="button" class="close wizard-close" ng-click="cancel()" aria-hidden="true">&times;</button>
		<h3 class="modal-title wizard-title">{{$root.tituloWizard}}</h3>
		<span class="wizard-subtitle"></span>
	</div>
	<div class="modal-body wizard-body">
		<div class="pull-left wizard-steps"></div>
		<div class="wizard-cards">
			<div class="wizard-card-container" style='height: 526px;'>
				<div ng-bind-html="html" carta="html"></div>
			</div>
		</div>
		<div class="wizard-footer">
			<div class="wizard-buttons-container">
				<button class="btn btn-danger wizard-cancel wizard-close" type="button" ng-click="cancelar()">Cancelar</button>
				<div class="btn-group-single pull-right">
					<button class="btn wizard-back" type="button" ng-disabled='vm.paso===0' ng-click="regresar()">Regresar</button>
					<button class="btn wizard-next btn-primary" type="button" ng-click="siguiente()" ng-disabled="form1.$invalid">Siguiente</button>
				</div>
			</div>
		</div>
	</div>
</div>


