<div class="col-sm-12">
	<h3>Validaci&oacute;n de ECU</h3>
	<span id="separadorTitulos"></span>
</div>

<form name="form1">
	<div class="col-sm-12" style="margin: 12px 63px 8px;">
		<p>&#191Se requiere permiso de inhumación y/o cremación?</p>
		<div class="col-sm-12">
			<div class="radio">
				<div class="col-sm-12" style="margin: 0px -46px 0px;">
					<div class="col-sm-8">
						<div class="col-sm-4">
							<center>
								<label class="radio-inline"> <input type="radio"
									ng-model="vm.modelo.UEH" ng-value="true"> Si
								</label>
							</center>
						</div>
						<div class="col-sm-4">
							<label class="radio-inline"> <input type="radio"
								ng-model="vm.modelo.UEH" ng-value="false"> No
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
