<div class="col-sm-12">
	<h3>Datos de la defunci&oacute;n</h3>
	<span id="separadorTitulos"></span>
</div>
	
<form name="form1">
	<div class="col-sm-12">
		<div class="col-sm-6 form-group">
			<label class="col-sm-12 control-label">Fecha y hora de la defunci&oacute;n</label>
		</div>
	</div>
<div class="col-sm-10 form-group" ng-init="fechaDefuncionCargada()">
	<sw-calendar-extended vertical="false"
		ng-class="{'has-error': vm.modelo.fechaDefuncion == undefined , 'has-success':  vm.modelo.fechaDefuncion != undefined}"
		ng-model="vm.modelo.fechaDefuncion"></sw-calendar-extended>
</div>
	<div class="col-sm-2 form-group">
		<input type="radio" name="formato2" ng-disabled="vm.PVRdiabled" ng-model="vm.modelo.formato2"
			value="am" /> AM <input type="radio" name="formato2" ng-disabled="vm.PVRdiabled"
			ng-model="vm.modelo.formato2" value="pm" required /> PM
	</div>

	<div class="col-sm-12">
				<h4>Lugar de defunci&oacute;n:</h4> <span
					id="separadorTitulos"></span>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-4 form-group">
					<label class="col-sm-12 control-label"> Pa&iacute;s:</label>
					<div class="col-sm-12 form-group"
						ng-class="{'has-error': vm.modelo['datosFAL'].direccion[0].pais== undefined , 'has-success':  vm.modelo['datosFAL'].direccion[0].pais!= undefined}">
						<div class="input-group">
							<select class="form-control input-sm"
								name="vm.modelo['datosFAL'].direccion[0].pais"
								ng-disabled="vm.PVRdiabled"
								ng-model="vm.modelo['datosFAL'].direccion[0].pais"
								ng-options="pais.nombre for pais in pais"
								ng-change="buscarEstado1()" required>
								<option value="" selected disabled>Seleccione</option>
							</select><span class="input-group-addon" id="basic-addon1"> <span
								class="glyphicon glyphicon-asterisk"
								ng-hide="vm.modelo['datosFAL'].direccion[0].pais!= undefined"></span>
								<span class="glyphicon glyphicon-ok"
								ng-show="vm.modelo['datosFAL'].direccion[0].pais!= undefined"></span>
							</span>
						</div>
					</div>
				</div>
				<div class="col-sm-4 form-group">
					<label class="col-sm-12 control-label">Estado:</label>
					<div class="col-sm-12 form-group"
						ng-class="{'has-error': vm.modelo['datosFAL'].direccion[0].estado== undefined , 'has-success':  vm.modelo['datosFAL'].direccion[0].estado!= undefined}">
						<div class="input-group">
							<select class="form-control input-sm"
								name="vm.modelo['FAL'].direccion[0].estado"
								ng-required="vm.modelo['datosFAL'].direccion[0].pais == 'VEN' "
								ng-disabled="disaDEF || vm.PVRdiabled" ng-change="buscarMunicipio1()"
								ng-model="vm.modelo['datosFAL'].direccion[0].estado"
								ng-options="estado.nombre for estado in estadosDEF">
								<option value="" selected>Seleccione</option>
							</select> <span class="input-group-addon" id="basic-addon1"> <span
								class="glyphicon glyphicon-asterisk"
								ng-hide="vm.modelo['datosFAL'].direccion[0].estado!= undefined"></span>
								<span class="glyphicon glyphicon-ok"
								ng-show="vm.modelo['datosFAL'].direccion[0].estado!= undefined"></span>
							</span>
						</div>
					</div>
				</div>
				<div class="col-sm-4 form-group">
					<label class="col-sm-12 control-label"> Municipio: </label>
					<div class="col-sm-12 form-group"
						ng-class="{'has-error': vm.modelo['datosFAL'].direccion[0].municipio== undefined , 'has-success':  vm.modelo['datosFAL'].direccion[0].municipio!= undefined}">
						<div class="input-group">
							<select class="form-control input-sm"
								name="vm.modelo['datosFAL'].direccion[0].municipio"
								ng-model="vm.modelo['datosFAL'].direccion[0].municipio"
								ng-disabled="disaDEF || vm.PVRdiabled"
								ng-options="municipio.nombre for municipio in municipiosDEF"
								ng-change="buscarParroquia1()"
								ng-required="vm.modelo['datosFAL'].direccion[0].pais.codigo=='VEN'">
								<option value="" selected>Seleccione</option>
							</select><span class="input-group-addon" id="basic-addon1"> <span
								class="glyphicon glyphicon-asterisk"
								ng-hide="vm.modelo['datosFAL'].direccion[0].municipio!= undefined"></span>
								<span class="glyphicon glyphicon-ok"
								ng-show="vm.modelo['datosFAL'].direccion[0].municipio!= undefined"></span>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-4 form-group">
					<label class="col-sm-12 control-label"> Parroquia: </label>
					<div class="col-sm-12 form-group"
						ng-class="{'has-error': vm.modelo['datosFAL'].direccion[0].parroquia== undefined , 'has-success':  vm.modelo['datosFAL'].direccion[0].parroquia!= undefined}">
						<div class="input-group">
							<select class="form-control input-sm"
								name="vm.modelo['datosFAL'].direccion[0].parroquia"
								ng-model="vm.modelo['datosFAL'].direccion[0].parroquia"
								ng-disabled="disaDEF || vm.PVRdiabled"
								ng-options="parroquia.nombre for parroquia in parroquiasDEF"
								ng-required="vm.modelo['datosFAL'].direccion[0].pais.codigo=='VEN'">
								<option value="" selected disabled>Seleccione</option>
							</select><span class="input-group-addon" id="basic-addon1"> <span
								class="glyphicon glyphicon-asterisk"
								ng-hide="vm.modelo['datosFAL'].direccion[0].parroquia!= undefined"></span>
								<span class="glyphicon glyphicon-ok"
								ng-show="vm.modelo['datosFAL'].direccion[0].parroquia!= undefined"></span>
							</span>
						</div>
					</div>
				</div>
		<div class="col-sm-8 form-group">
			<label class="col-sm-12 control-label">Direcci&oacute;n:</label>
			<div class="col-sm-12 form-group" 
				ng-class="{'has-error': vm.modelo['datosFAL'].direccion[1].ubicacion == undefined , 'has-success':  vm.modelo['datosFAL'].direccion[1].ubicacion!= undefined}">
				<div class="input-group">
					<input type="text" ng-keydown="vm.onKeyDown($event,'direccion','direccion')"
						custom-popover popover-tittle="Formato de la direccion"
						popover-contenido="{{vPatron.Pcementerio | json}}"
						popover-placement="top" popover-label="Label"
						popover-validation="{{direccion == undefined}}" maxlength="200"
						minlength="2"
						ng-keydown="onKeyDownCementerio($event,'vPatron.excepciones','direccion')"
						popover-is-open="errorTecla.direccion" ng-blur="onBlur"
						ng-disabled="vm.PVRdiabled"
						placeholder="{{validaciones.direccion.placeholder}}"
						name="vm.modelo['datosFAL'].direccion[1].ubicacion.ubicacion" class="input-sm form-control"
						ng-model="vm.modelo['datosFAL'].direccion[1].ubicacion"
						required><span class="input-group-addon" id="basic-addon1">
						<span class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['datosFAL'].direccion[1].ubicacion!= undefined"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['datosFAL'].direccion[1].ubicacion!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
	</div>

			<div class="col-sm-12 form-group">
				<div class="col-sm-12 form-group">
					<label class="col-sm-12 control-label">Causas:</label>
					<div class="col-sm-12 form-group"
						ng-class="{'has-error': vm.modelo.causas == undefined , 'has-success':  vm.modelo.causas != undefined}">
						<div class="input-group">
							<input type="text" name="vm.modelo.causas"
								class="input-sm form-control"
								ng-model="vm.modelo.causas"
								ng-disabled="vm.PVRdiabled"
								ng-keydown="vm.onKeyDown($event,'causas','causas')"
								custom-popover popover-tittle="Formato de la causa"
								popover-contenido="{{vPatron.Pcementerio | json}}"
								popover-placement="top" popover-label="Label"
								popover-validation="{{causas == undefined}}"
								ng-maxlength="validaciones.direccion.maximo"
								ng-minlength="validaciones.direccion.minimo" required>
							<span class="input-group-addon" id="basic-addon1"> <span
								class="glyphicon glyphicon-asterisk"
								ng-hide="vm.modelo.causas != undefined"></span> <span
								class="glyphicon glyphicon-ok"
								ng-show="vm.modelo.causas != undefined"></span>
							</span>
						</div>
					</div>
				</div>
<!-- 				<pre>{{vm.modelo | json}}</pre> -->
		</form>
	

