<div class="col-sm-12">
	<h3>Validaci&oacute;n de ECU</h3>
	<span id="separadorTitulos"></span>
</div>
<br>
<!-- 	<div class="panel-body"> -->
<!-- 		<form name="dvecuForm"> -->

<!-- 			<div class="col-sm-12" style="margin: 12px 63px 8px;"> -->
<!-- 				<p>&#191El(la) fallecido(a) estaba casado o en Uni&oacute;n -->
<!-- 					Estable de Hecho (UEH)?</p> -->
<!-- 				<div class="col-sm-12"> -->
<!-- 					<div class="radio"> -->
<!-- 						<div class="col-sm-12" style="margin: 0px -46px 0px;"> -->
<!-- 							<div class="col-sm-8"> -->
<!-- 								<div class="col-sm-4"> -->
<!-- 									<center> -->
<!-- 										<label class="radio-inline"> <input type="radio" -->
<!-- 											ng-model="vm.modelo.UEH" ng-value="true"> Si -->
<!-- 										</label> -->
<!-- 									</center> -->
<!-- 								</div> -->
<!-- 								<div class="col-sm-4"> -->
<!-- 									<label class="radio-inline"> <input type="radio" -->
<!-- 										ng-model="vm.modelo.UEH" ng-value="false"> No -->
<!-- 									</label> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->


<!-- 			<div class="col-sm-12" style="margin: 12px 63px 8px;"> -->
<!-- 				<p>&#191El (la) fallecido(a) tenia hijos hu&eacute;rfanos y/o -->
<!-- 					capacidad registrada?</p> -->
<!-- 				<div class="col-sm-12"> -->
<!-- 					<div class="radio"> -->
<!-- 						<div class="col-sm-12" style="margin: 0px -46px 0px;"> -->
<!-- 							<div class="col-sm-8"> -->
<!-- 								<div class="col-sm-4"> -->
<!-- 									<center> -->
<!-- 										<label class="radio-inline"> <input type="radio" -->
<!-- 											ng-model="vm.modelo.hijos" ng-value="true" ng-change="mostrar()"> Si -->
<!-- 										</label> -->
<!-- 									</center> -->
<!-- 								</div> -->
<!-- 								<div class="col-sm-4"> -->
<!-- 									<label class="radio-inline"> <input type="radio" -->
<!-- 										ng-model="vm.modelo.hijos" ng-value="false" ng-change="ocultar()"> No -->
<!-- 									</label> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div ng-show="ocultarMostrar"> -->
<!-- <!-- 		<div style="display:none;"  id="capa"> -->
<!-- 			<div class="col-sm-8" style="margin: 12px 63px 8px;"> -->
<!-- 				<label class="col-sm-6 control-label">N&uacute;mero de hijo(s):</label> -->
<!-- 						<div class="input-group col-sm-2" -->
<!--  						ng-class="{'has-error': vm.modelo.num == undefined , 'has-success':  vm.modelo.num!= undefined}">  -->
<!-- 							<campo-texto label="Campo" ng-model="vm.modelo.num" -->
<!-- 							validacion="cantHijos"> </campo-texto> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<br> -->
<!-- 			<br> -->
<!-- 			<div class="col-sm-8" style="margin: 12px 63px 8px;"> -->
<!-- 				<label class="col-sm-6 control-label">N&uacute;mero de capacidad registrada:</label> -->
<!-- 				<div class="input-group col-sm-2" -->
<!--  					ng-class="{'has-error': vm.modelo.capacidad== undefined , 'has-success':  vm.modelo.capacidad!= undefined}"> -->
<!-- 							<campo-texto label="Campo" ng-model="vm.modelo.capacidad" -->
<!-- 							validacion="cantHijos"> </campo-texto> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			</div> -->

<!-- 		</form> -->
<!-- 	</div> -->
