<div class="col-sm-12">
	<h3>Datos familiares</h3>
	<span id="separadorTitulos"></span>
</div>

<form name="form1">
<div ng-init="cambioDatos()">
	<div class="col-sm-12">
		<h4>Datos de la madre del (de la) fallecido(a):</h4>
		<span id="separadorTitulos"></span>
	</div>

	<div class="col-sm-12">
		<div class="col-sm-12 form-group">
			<label class="col-sm-4 control-label">Documento de
				identificaci&oacute;n:</label>
			<div class="col-sm-3 form-group"
				ng-class="{'has-error': vm.modelo['MAM'].documentoIdentidad[0].tipoDocumento.nombre== undefined , 'has-success':  vm.modelo['MAM'].documentoIdentidad[0].tipoDocumento.nombre!= undefined}">
				<div class="input-group">
					<select class="form-control input-sm"
						ng-model="vm.modelo['MAM'].documentoIdentidad[0].tipoDocumento.nombre"
						name="vm.modelo['MAM'].documentoIdentidad[0].tipoDocumento.nombre"
						ng-disabled="pregunta =='Si' && vm.mamRequired"
						ng-change="vaciarNumeroMadre()">
						<option value="" selected>Seleccione</option>
						<option value="CEDULA">C&Eacute;DULA/NUI</option>
						<option value="PASAPORTE">PASAPORTE</option>
					</select><span class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['MAM'].documentoIdentidad[0].tipoDocumento.nombre!= undefined"></span>
						<span class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['MAM'].documentoIdentidad[0].tipoDocumento.nombre!= undefined"></span></span>
				</div>
			</div>
			<div
				ng-show="vm.modelo['MAM'].documentoIdentidad[0].tipoDocumento.nombre==='CEDULA'">
				<div class="col-sm-2 form-group"
					ng-class="{'has-error': vm.modelo['MAM'].tipoDocumento== undefined , 'has-success':  vm.modelo['MAM'].tipoDocumento != undefined}">
					<div class="input-group">
						<select class="form-control input-sm"
							name="vm.modelo['MAM'].tipoDocumento"
							ng-model="vm.modelo['MAM'].tipoDocumento"
							ng-disabled="pregunta =='Si' && vm.mamRequired">
							<option value="" selected>Seleccione</option>
							<option value="V">V-</option>
							<option value="E">E-</option>
						</select><span class="input-group-addon" id="basic-addon1"> <span
							class="glyphicon glyphicon-asterisk"
							ng-hide="vm.modelo['MAM'].tipoDocumento!= undefined"></span> <span
							class="glyphicon glyphicon-ok"
							ng-show="vm.modelo['MAM'].tipoDocumento!= undefined"></span>
						</span>
					</div>
				</div>
				<div class="col-sm-3 form-group"
					ng-class="{'has-error': numMAM == undefined , 'has-success':  numMAM != undefined}">
					<div class="input-group">
						<input type="text" popover-tittle="Formato de la cedula"
								ng-pattern="vPatron.Numerico" custom-popover
								popover-contenido="{{vPatron.Fnumero | json}}"
								popover-placement="top" popover-label="Label"
								popover-validation="{{numero == undefined}}"
								ng-keydown="onKeyDownNumerico($event,'vPatron.excepciones','documentoIdentidad[0].numero')"
								popover-is-open="errorTecla.documentoIdentidad[0].numero"
								ng-blur="onBlur" maxlength="9" minlength="6" name="numMAM"
								class="input-sm form-control" ng-init="setCedula3()"
								ng-model="numMAM" ng-disabled="pregunta =='Si' && vm.mamRequired" 
								class="input-sm form-control">
						<span class="input-group-addon" id="basic-addon1"> <span
							class="glyphicon glyphicon-asterisk"
							ng-hide="numMAM != undefined"></span> <span
							class="glyphicon glyphicon-ok" ng-show="numMAM != undefined"></span>
						</span>
					</div>
				</div>
			</div>
			<div
					ng-show="vm.modelo['MAM'].documentoIdentidad[0].tipoDocumento.nombre=='PASAPORTE'">
					<div class="col-sm-5 form-group"
						ng-class="{'has-error': numMAM == undefined , 'has-success':  numMAM != undefined}">
						<div class="input-group">
							<input type="text" popover-tittle="Formato del pasaporte"
								ng-pattern="vPatron.documentoIdentidad[0].numero" custom-popover
								popover-contenido="{{vPatron.Fnumero | json}}"
								popover-placement="top" popover-label="Label"
								popover-validation="{{documentoIdentidad[0].numero == undefined}}"
								minlength="6" maxlength="11"
								ng-keydown="onKeyDownNumerico($event,'vPatron.excepciones','documentoIdentidad[0].numero')"
								popover-is-open="errorTecla.documentoIdentidad[0].numero"
								ng-blur="onBlur"
								placeholder="{{validaciones.documentoIdentidad[0].numero.placeholder}}"
								name="vm.modelo['MAM'].documentoIdentidad[0].numero"
								class="input-sm form-control" ng-init="setCedula3()"
								ng-model="numMAM"
								ng-disabled="pregunta =='Si' && vm.mamRequired" required><span
								class="input-group-addon" id="basic-addon1"> <span
								class="glyphicon glyphicon-asterisk"
								ng-hide="numMAM!= undefined"></span> <span
								class="glyphicon glyphicon-ok" ng-show="numMAM!= undefined"></span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	<div class="col-sm-12">
		<div class="col-sm-6 form-group">
			<label class="col-sm-12 control-label">Primer nombre:</label>
			<div class="col-sm-12 form-group"
				ng-class="{'has-error': vm.modelo['MAM'].primerNombre== undefined , 'has-success':  vm.modelo['MAM'].primerNombre!= undefined}">
				<div class="input-group">
					<input type="text" popover-tittle="Formato de los nombres"
						ng-pattern="vPatron.FormatoNombres" custom-popover
						popover-contenido="{{vPatron.AlfaText | json}}"
						popover-placement="top" popover-label="Label"
						popover-validation="{{primerNombre == undefined}}" maxlength="50"
						minlength="2"
						ng-keydown="onKeyDownAlfa($event,'vPatron.excepciones','primerNombre')"
						popover-is-open="errorTecla.primerNombre" ng-blur="onBlur"
						placeholder="Ejemplo: Juan" name="vm.modelo['MAM'].primerNombre"
						class="input-sm form-control"
						ng-model="vm.modelo['MAM'].primerNombre"
						ng-disabled="pregunta =='Si' && vm.mamRequired" ng-required="vm.mamRequired"> <span
						class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['MAM'].primerNombre!= undefined"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['MAM'].primerNombre!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-6 form-group">
			<label class="col-sm-12 control-label">Segundo nombre:</label>
			<div class="col-sm-12 form-group"
				ng-class="{'': vm.modelo['MAM'].segundoNombre.length<1, '': vm.modelo['MAM'].segundoNombre==undefined, 'has-error': vm.modelo['MAM'].segundoNombre.length==1, 'has-success':  vm.modelo['MAM'].segundoNombre.length>=2}">
				<div class="input-group">
					<input type="text" popover-tittle="Formato de los nombres"
						ng-pattern="vPatron.FormatoNombres" custom-popover
						popover-contenido="{{vPatron.AlfaText | json}}"
						popover-placement="top" popover-label="Label"
						popover-validation="{{segundoNombre == undefined}}" maxlength="50"
						minlength="2"
						ng-keydown="onKeyDownAlfa($event,'vPatron.excepciones','segundoNombre')"
						popover-is-open="errorTecla.segundoNombre" ng-blur="onBlur"
						placeholder="Ejemplo: Alejandro"
						name="vm.modelo['MAM'].segundoNombre"
						class="input-sm form-control"
						ng-model="vm.modelo['MAM'].segundoNombre"
						ng-model-options="{ allowInvalid: true }"
						ng-disabled="pregunta =='Si' && vm.mamRequired"> <span
						class="input-group-addon" id="basic-addon1"> <span
						ng-hide="vm.modelo['MAM'].segundoNombre!= undefined"></span> <span
						ng-show="vm.modelo['MAM'].segundoNombre!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-6 form-group">
			<label class="col-sm-12 control-label">Primer apellido:</label>
			<div class="col-sm-12 form-group"
				ng-class="{'has-error': vm.modelo['MAM'].primerApellido== undefined , 'has-success': vm.modelo['MAM'].primerApellido!= undefined}">
				<div class="input-group">
					<input type="text" popover-tittle="Formato de los apellidos"
						ng-pattern="vPatron.FormatoNombres" custom-popover
						popover-contenido="{{vPatron.AlfaText | json}}"
						popover-placement="top" popover-label="Label"
						popover-validation="{{primerApellido == undefined}}"
						maxlength="50" minlength="2"
						ng-keydown="onKeyDownAlfa($event,'vPatron.excepciones','primerApellido')"
						popover-is-open="errorTecla.primerApellido" ng-blur="onBlur"
						placeholder="Ejemplo: Salazar"
						name="vm.modelo['MAM'].primerApellido"
						class="input-sm form-control"
						ng-model="vm.modelo['MAM'].primerApellido"
						ng-disabled="pregunta =='Si' && vm.mamRequired" ng-required="vm.mamRequired"> <span
						class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['MAM'].primerApellido!= undefined"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['MAM'].primerApellido!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-6 form-group">
			<label class="col-sm-12 control-label">Segundo apellido:</label>
			<div class="col-sm-12 form-group"
				ng-class="{'': vm.modelo['MAM'].segundoApellido.length<1, '': vm.modelo['MAM'].segundoApellido==undefined, 'has-error': vm.modelo['MAM'].segundoApellido.length==1, 'has-success':  vm.modelo['MAM'].segundoApellido.length>=2}">
				<div class="input-group">
					<input type="text" popover-tittle="Formato de los apellidos"
						ng-pattern="vPatron.FormatoNombres" custom-popover
						popover-contenido="{{vPatron.AlfaText | json}}"
						popover-placement="top" popover-label="Label"
						popover-validation="{{segundoApellido == undefined}}"
						maxlength="50" minlength="2"
						ng-keydown="onKeyDownAlfa($event,'vPatron.excepciones','segundoApellido')"
						popover-is-open="errorTecla.segundoApellido" ng-blur="onBlur"
						placeholder="Ejemplo: Romero"
						name="vm.modelo['MAM'].segundoApellido"
						class="input-sm form-control"
						ng-model="vm.modelo['MAM'].segundoApellido"
						ng-model-options="{ allowInvalid: true }"
						ng-disabled="pregunta =='Si' && vm.mamRequired"> <span
						class="input-group-addon" id="basic-addon1"> <span
						ng-hide="vm.modelo['MAM'].segundoApellido!= undefined"></span> <span
						ng-show="vm.modelo['MAM'].segundoApellido!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 form-group">
		<div class="col-sm-2 form-group">
			<label class="col-sm-12 control-label">Edad: </label>
			<div class="col-sm-12 form-group" ng-init="edadMAM()"
				ng-class="{'has-error': vm.modelo['MAM'].edad== undefined , 'has-success':  vm.modelo['MAM'].edad!= undefined}">
				<div class="input-group">
					<input type="text" uib-popover="{{validaciones.edad.mensaje}}"
						popover-title="{{validaciones.edad.titulo}}"
						popover-trigger="none" popover-is-open="vm.errorTecla.edad"
						ng-blur="vm.onBlur" ng-disabled="disabledEDADMAM"
						ng-keydown="vm.onKeyDown($event,'edad','edad')"
						ng-minlength="{{validaciones.edad.minimo}}"
						ng-maxlength="{{validaciones.edad.maximo}}" maxlength="3"
						name="vm.modelo['MAM'].edad" class="input-sm form-control"
						ng-init="edadMAM()" ng-model="vm.modelo['MAM'].edad"> <span
						class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['MAM'].edad!= undefined"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['MAM'].edad!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
				<div class="col-sm-10 form-group">
					<label class="col-sm-8 control-label" style="padding-left: 141px;">&#191Vive?</label>
					<div class="col-sm-8 form-group" ng-init=comprobarVive()>
						<div class="col-sm-4">
							<div class="radio">
								<center>
									<label> <input type="radio" name="radioMama" ng-disabled="viveDisabled"
										ng-model="vm.modelo.viveMama" value="Si" ng-required="vm.mamRequired" ng-disabled="vm.modelo.viveMama =='Si'"> Si
									</label>
								</center>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="radio">
								<center>
									<label> <input type="radio" name="radioMama" ng-disabled="viveDisabled" 
										ng-model="vm.modelo.viveMama" value="No" ng-required="vm.mamRequired" ng-disabled="vm.modelo.viveMama =='Si'"> No
									</label>
								</center>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="checkbox">
							<center>
								<label> <input type="checkbox" name="checkbox"
									ng-model="vm.modelo.mamaDeclarante" disabled>
									Declarante
								</label>
							</center>
						</div>
					</div>
				</div>

	</div>




	<!--  <div class="col-sm-12 row acta" style="margin-left: 14px;">
				<label class="col-sm-6 control-label">&#191Vive?</label>
			</div>
			<div class="col-sm-10">
				<div class="col-sm-4">
					<div class="radio">
						<center>
							<label> <input type="radio" name="radio"
								ng-model="vm.modelo.preg" value="Si" required> Si
							</label>
						</center>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="radio">
						<center>
							<label> <input type="radio" name="radio"
								ng-model="vm.modelo.preg" value="No" required> No
							</label>
						</center>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="radio">
						<center>
							<label> <input type="radio" name="radio"
								ng-model="vm.modelo.preg" value="declarante" required>
								Declarante
							</label>
						</center>
					</div>
				</div>
			</div> -->
	<!-- **************************************************************************** -->
	<div class="col-sm-12 row acta">
		<h4>Datos del padre del (de la) fallecido(a)</h4>
		<span id="separadorTitulos"></span>
	</div>

	<div class="col-sm-12">
		<div class="col-sm-12 form-group">
			<label class="col-sm-4 control-label">Documento de
				identificaci&oacute;n:</label>
			<div class="col-sm-3 form-group"
				ng-class="{'has-error': vm.modelo['PAP'].documentoIdentidad[0].tipoDocumento.nombre== undefined , 'has-success':  vm.modelo['PAP'].documentoIdentidad[0].tipoDocumento.nombre!= undefined}">
				<div class="input-group">
					<select class="form-control input-sm"
						ng-model="vm.modelo['PAP'].documentoIdentidad[0].tipoDocumento.nombre"
						name="vm.modelo['PAP'].documentoIdentidad[0].tipoDocumento.nombre"
						ng-disabled="pregunta =='Si' && vm.papRequired" ng-change="vaciarNumeroPadre()">
						<option value="" selected>Seleccione</option>
						<option value="CEDULA">C&Eacute;DULA/NUI</option>
						<option value="PASAPORTE">PASAPORTE</option>
					</select><span class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['PAP'].documentoIdentidad[0].tipoDocumento.nombre!= undefined"></span>
						<span class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['PAP'].documentoIdentidad[0].tipoDocumento.nombre!= undefined"></span></span>
				</div>
			</div>
			<div
				ng-show="vm.modelo['PAP'].documentoIdentidad[0].tipoDocumento.nombre==='CEDULA'">
				<div class="col-sm-2 form-group"
					ng-class="{'has-error': vm.modelo['PAP'].tipoDocumento== undefined , 'has-success':  vm.modelo['PAP'].tipoDocumento != undefined}">
					<div class="input-group">
						<select class="form-control input-sm"
							name="vm.modelo['PAP'].tipoDocumento"
							ng-model="vm.modelo['PAP'].tipoDocumento"
							ng-disabled="pregunta =='Si' && vm.papRequired">
							<option value="" selected>Seleccione</option>
							<option value="V">V-</option>
							<option value="E">E-</option>
						</select><span class="input-group-addon" id="basic-addon1"> <span
							class="glyphicon glyphicon-asterisk"
							ng-hide="vm.modelo['PAP'].tipoDocumento!= undefined"></span> <span
							class="glyphicon glyphicon-ok"
							ng-show="vm.modelo['PAP'].tipoDocumento!= undefined"></span>
						</span>
					</div>
				</div>

				<div class="col-sm-3 form-group"
					ng-class="{'has-error': numPAP == undefined , 'has-success':  numPAP != undefined}">
					<div class="input-group">
					<input type="text" popover-tittle="Formato de la cedula"
							ng-pattern="vPatron.Numerico" custom-popover
							popover-contenido="{{vPatron.Fnumero | json}}"
							popover-placement="top" popover-label="Label"
							popover-validation="{{numero == undefined}}"
							ng-keydown="onKeyDownNumerico($event,'vPatron.excepciones','documentoIdentidad[0].numero')"
							popover-is-open="errorTecla.documentoIdentidad[0].numero"
							ng-blur="onBlur" maxlength="9"
							ng-init="setCedula4()" ng-model="numPAP"
							placeholder="{{validaciones.cedula.placeholder}}"
							name="vm.modelo['PAP'].documentoIdentidad[0].numero"
							ng-required="vm.papRequired"
							ng-disabled="pregunta =='Si' && vm.papRequired" class="input-sm form-control">
						<span class="input-group-addon" id="basic-addon1"> <span
							class="glyphicon glyphicon-asterisk"
							ng-hide="numPAP != undefined"></span> <span
							class="glyphicon glyphicon-ok" ng-show="numPAP != undefined"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div
		ng-show="vm.modelo['PAP'].documentoIdentidad[0].tipoDocumento.nombre=='PASAPORTE'">
		<div class="col-sm-5 form-group"
			ng-class="{'has-error': numPAP == undefined , 'has-success':  numPAP != undefined}">
			<div class="input-group">
				<input type="text" uib-popover="{{validaciones.cedula.mensaje}}"
					popover-title="{{validaciones.cedula.titulo}}"
					popover-trigger="none" popover-is-open="vm.errorTecla.numero"
					ng-blur="vm.onBlur"
					ng-keydown="vm.onKeyDown($event,'cedula','numero')"
					ng-minlength="{{validaciones.cedula.minimo}}"
					ng-maxlength="{{validaciones.cedula.maximo}}" maxlength="9"
					ng-init="setCedula4()" ng-model="numPAP"
					placeholder="{{validaciones.cedula.placeholder}}"
					name="vm.modelo['PAP'].documentoIdentidad[0].numero"
					ng-required="vm.papRequired" ng-disabled="pregunta =='Si' && vm.papRequired"
					class="input-sm form-control"> <span
					class="input-group-addon" id="basic-addon1"> <span
					class="glyphicon glyphicon-asterisk" ng-hide="numPAP != undefined"></span>
					<span class="glyphicon glyphicon-ok" ng-show="numPAP != undefined"></span>
				</span>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-6 form-group">
			<label class="col-sm-12 control-label">Primer nombre:</label>
			<div class="col-sm-12 form-group"
				ng-class="{'has-error': vm.modelo['PAP'].primerNombre== undefined , 'has-success':  vm.modelo['PAP'].primerNombre!= undefined}">
				<div class="input-group">
					<input type="text" popover-tittle="Formato de los nombres"
						ng-pattern="vPatron.FormatoNombres" custom-popover
						popover-contenido="{{vPatron.AlfaText | json}}"
						popover-placement="top" popover-label="Label"
						popover-validation="{{primerNombre == undefined}}" maxlength="50"
						minlength="2"
						ng-keydown="onKeyDownAlfa($event,'vPatron.excepciones','primerNombre')"
						popover-is-open="errorTecla.primerNombre" ng-blur="onBlur"
						placeholder="Ejemplo: Juan" name="vm.modelo['PAP'].primerNombre"
						class="input-sm form-control"
						ng-model="vm.modelo['PAP'].primerNombre"
						ng-disabled="pregunta =='Si' && vm.papRequired" ng-required="vm.papRequired"> <span
						class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['PAP'].primerNombre!= undefined"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['PAP'].primerNombre!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-6 form-group">
			<label class="col-sm-12 control-label">Segundo nombre:</label>
			<div class="col-sm-12 form-group"
				ng-class="{'': vm.modelo['PAP'].segundoNombre.length<1, '': vm.modelo['PAP'].segundoNombre==undefined, 'has-error': vm.modelo['PAP'].segundoNombre.length==1, 'has-success':  vm.modelo['PAP'].segundoNombre.length>=2}">
				<div class="input-group">
					<input type="text" popover-tittle="Formato de los apellidos"
						ng-pattern="vPatron.FormatoNombres" custom-popover
						popover-contenido="{{vPatron.AlfaText | json}}"
						popover-placement="top" popover-label="Label"
						popover-validation="{{segundoNombre == undefined}}" maxlength="50"
						minlength="2"
						ng-keydown="onKeyDownAlfa($event,'vPatron.excepciones','segundoNombre')"
						popover-is-open="errorTecla.segundoNombre" ng-blur="onBlur"
						placeholder="Ejemplo: Alejandro"
						name="vm.modelo['PAP'].segundoNombre"
						class="input-sm form-control"
						ng-model="vm.modelo['PAP'].segundoNombre"
						ng-model-options="{ allowInvalid: true }"
						ng-disabled="pregunta =='Si' && vm.papRequired"> <span
						class="input-group-addon" id="basic-addon1"> <span
						ng-hide="vm.modelo['PAP'].segundoNombre!= undefined"></span> <span
						ng-show="vm.modelo['PAP'].segundoNombre!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 ">
		<div class="col-sm-6 form-group">
			<label class="col-sm-12 control-label">Primer apellido:</label>
			<div class="col-sm-12 form-group"
				ng-class="{'has-error': vm.modelo['PAP'].primerApellido== undefined , 'has-success': vm.modelo['PAP'].primerApellido!= undefined}">
				<div class="input-group">
					<input type="text" popover-tittle="Formato de los apellidos"
						ng-pattern="vPatron.FormatoNombres" custom-popover
						popover-contenido="{{vPatron.AlfaText | json}}"
						popover-placement="top" popover-label="Label"
						popover-validation="{{primerApellido == undefined}}"
						maxlength="50" minlength="2"
						ng-keydown="onKeyDownAlfa($event,'vPatron.excepciones','primerApellido')"
						popover-is-open="errorTecla.primerApellido" ng-blur="onBlur"
						placeholder="Ejemplo: Salazar"
						name="vm.modelo['PAP'].primerApellido"
						class="input-sm form-control"
						ng-model="vm.modelo['PAP'].primerApellido"
						ng-disabled="pregunta =='Si' && vm.papRequired" ng-required="vm.papRequired"> <span
						class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['PAP'].primerApellido!= undefined"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['PAP'].primerApellido!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-6 form-group">
			<label class="col-sm-12 control-label">Segundo apellido:</label>
			<div class="col-sm-12 form-group"
				ng-class="{'': vm.modelo['PAP'].segundoApellido.length<1, '': vm.modelo['PAP'].segundoApellido==undefined, 'has-error': vm.modelo['PAP'].segundoApellido.length==1, 'has-success':  vm.modelo['PAP'].segundoApellido.length>=2}">
				<div class="input-group">
					<input type="text" popover-tittle="Formato de los apellidos"
						ng-pattern="vPatron.FormatoNombres" custom-popover
						popover-contenido="{{vPatron.AlfaText | json}}"
						popover-placement="top" popover-label="Label"
						popover-validation="{{segundoApellido == undefined}}"
						maxlength="50" minlength="2"
						ng-keydown="onKeyDownAlfa($event,'vPatron.excepciones','segundoApellido')"
						popover-is-open="errorTecla.segundoApellido" ng-blur="onBlur"
						placeholder="Ejemplo: Romero"
						name="vm.modelo['PAP'].segundoApellido"
						class="input-sm form-control"
						ng-model="vm.modelo['PAP'].segundoApellido"
						ng-model-options="{ allowInvalid: true }"
						ng-disabled="pregunta =='Si' && vm.papRequired"> <span
						class="input-group-addon" id="basic-addon1"> <span
						ng-hide="vm.modelo['PAP'].segundoApellido!= undefined"></span> <span
						ng-show="vm.modelo['PAP'].segundoApellido!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 form-group">
		<div class="col-sm-2 form-group">
			<label class="col-sm-12 control-label">Edad: </label>
			<div class="col-sm-12 form-group" ng-init="edadPAP()"
				ng-class="{'has-error': vm.modelo['PAP'].edad== undefined , 'has-success':  vm.modelo['PAP'].edad!= undefined}">
				<div class="input-group">
					<input type="text" uib-popover="{{validaciones.edad.mensaje}}"
						popover-title="{{validaciones.edad.titulo}}"
						popover-trigger="none" popover-is-open="vm.errorTecla.edad"
						ng-blur="vm.onBlur" ng-disabled="disabledEDADPAP"
						ng-keydown="vm.onKeyDown($event,'edad','edad')"
						ng-minlength="{{validaciones.edad.minimo}}"
						ng-maxlength="{{validaciones.edad.maximo}}" maxlength="3"
						name="vm.modelo['PAP'].edad" class="input-sm form-control"
						ng-init="edadPAP()" ng-model="vm.modelo['PAP'].edad"> <span
						class="input-group-addon" id="basic-addon1"> <span
						class="glyphicon glyphicon-asterisk"
						ng-hide="vm.modelo['PAP'].edad!= undefined"></span> <span
						class="glyphicon glyphicon-ok"
						ng-show="vm.modelo['PAP'].edad!= undefined"></span>
					</span>
				</div>
			</div>
		</div>
			<div class="col-sm-10 form-group">
				<label class="col-sm-8 control-label" style="padding-left: 141px;">&#191Vive?</label>
				<div class="col-sm-8 form-group">
					<div class="col-sm-4">
						<div class="radio">
							<center>
								<label> <input type="radio" name="radioPapa"
									ng-disabled="vivePapaDisabled" ng-model="vm.modelo.vivePapa"
									value="Si" ng-required="vm.papRequired"
									ng-disabled="vm.modelo.vivePapa =='si'"> Si
								</label>
							</center>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="radio">
							<center>
								<label> <input type="radio" name="radioPapa"
									ng-disabled="vivePapaDisabled" ng-model="vm.modelo.vivePapa"
									value="No" ng-required="vm.papRequired"
									ng-disabled="vm.modelo.vivePapa =='si'"> No
								</label>
							</center>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="checkbox">
						<center>
							<label> <input type="checkbox" name="checkbox"
								ng-model="vm.modelo.papaDeclarante" disabled>Declarante
							</label>
						</center>
					</div>
				</div>
			</div>
		</div>
</div>
</form>
