<div class="col-sm-12">
	<h3>Fecha y hora de defunci&oacute;n</h3>
	<span id="separadorTitulos"></span>
</div>

<form name="form1" ng-submit="abrirModalVerificarDatos()">
	<div class="col-sm-12">
		<div class="col-sm-6 form-group">
			<label class="col-sm-12 control-label">Fecha y hora de la defuncion</label>
		</div>
	</div>
<div class="col-sm-10 form-group">
	<sw-calendar-extended vertical="false"
		ng-class="{'has-error': vm.modelo.fechaDefuncion == undefined , 'has-success':  vm.modelo.fechaDefuncion != undefined}"
		ng-model="vm.modelo.fechaDefuncion"></sw-calendar-extended>
</div>
	<div class="col-sm-2 form-group">
		<input type="radio" name="formato2" ng-model="vm.modelo.formato2"
			value="am" /> AM <input type="radio" name="formato2"
			ng-model="vm.modelo.formato2" value="pm" required /> PM
	</div>
<!-- 	<div class="col-sm-12 row acta"> -->
<!-- 		<label class="col-sm-12 control-label">Fecha y hora de -->
<!-- 			fallecimiento:</label> -->
<!-- 		<div class="input-group col-sm-12"> -->
<!-- 			{{fechaHora}} -->
<!-- 			<sw-calendar-extended vertical="false" ng-model="vm.modelo.fechaDefuncion" -->
<!-- 				ng-change=""></sw-calendar-extended> -->
<!-- 		</div> -->
<!-- 	</div> -->
</form>


