<div class="col-sm-12 form-group">
	<div class="col-sm-1 "></div>
	<div class="col-sm-11">
		<p>&#191Se requiere permiso de inhumaci&oacute;n y/o cremaci&oacute;n?</p>
		<div class="col-sm-12">
			<div class="col-sm-8">
				<div class="col-sm-4">
					<center>
						<label class='radio-inline'> <input type='radio'
							ng-model='vm.modelo.pojo.estaFallecidoConID' value='true' required> Si
						</label>
					</center>
				</div>

				<div class="col-sm-4">
					<label class='radio-inline'> <input type='radio'
						ng-model='vm.modelo.pojo.estaFallecidoConID'value='false' required> No
					</label>
				</div>
			</div>
		</div>
	</div>
</div>

