
<div class="col-sm-12 form-group">
	<div class="col-sm-1 "></div>
	<div class="col-sm-11">
		<p>&#191Venezolano(a) o extranjero(a) fallecido dentro del
			territorio nacional?</p>
		<div class="col-sm-12">
			<div class="col-sm-8">
				<div class="col-sm-4 form-group">
					<center>
						<label class="radio-inline"> <input type="radio"
							ng-click="vm.siguiente()"
							ng-model="vm.modelo.pojo.vzlanoOExtrajFallecidoDentroTN"
							ng-value="true" required> Si
						</label>
					</center>
				</div>
				<div class="col-sm-4 form-group">
					<label class="radio-inline"> <input type="radio"
						ng-click="vm.siguiente()"
						ng-model="vm.modelo.pojo.vzlanoOExtrajFallecidoDentroTN"
						ng-value="false" required> No
					</label>
				</div>
			</div>
		</div>
	</div>
</div>

