
<div class="col-sm-12 form-group">
	<div class="col-sm-1 "></div>
	<div class="col-sm-11">
		<p>&#191Fallecimiento de una persona con identificaci&oacuten?</p>
		<div class="col-sm-12">
			<div class="col-sm-8" ng-init="falId()">
				<div class="col-sm-4 form-group">
					<center>
						<label class='radio-inline'> <input type='radio'
							ng-model="vm.modelo.pojo.estaFallecidoConID"
						    ng-value='true' ng-disabled="true">
							Si
						</label>
					</center>
				</div>

				<div class="col-sm-4 form-group">
					<label class='radio-inline'> <input type='radio'
						ng-model="vm.modelo.pojo.estaFallecidoConID"
					    ng-value='false' ng-disabled="true">
						No
					</label>
				</div>
			</div>
		</div>
	</div>

</div>


