
<div class="col-sm-12 form-group">
	<div class="col-sm-1 "></div>
	<div class="col-sm-11" ng-required="vm.modelo.pojo.vzlanoOExtrajFallecidoDentroTN ==
		'false'">
		<div class="radio">
			<label> <input type="radio" name="radio"
				ng-click="vm.siguiente()"
				ng-model="vm.modelo.pojo.extranjFalfuerTerriNacNO_DRDC"
				ng-value='true' required> Venezolano(a) fallecido(a) fuera
				del territorio nacional (No declarado(a) ante una
				representaci&oacute;n diplom&aacute;tica o consular)

			</label>
		</div>
	</div>


	<div class="col-sm-1 "></div>
	<div class="col-sm-11">
		<div class="radio">
			<label> <input type="radio" name="radio"
				ng-click="vm.siguiente()"
				ng-model="vm.modelo.pojo.extranjFalfuerTerriNacNO_DRDC"
				ng-value='false' required> Extranjero(a) fallecido(a) fuera
				del territorio nacional (No declarado(a) ante una
				representaci&oacute;n diplom&aacute;tica o consular)

			</label>
		</div>
	</div>
</div>


