                                    <div class="wizard-card-container" style='height: 500px; width: 100%;'>
                                    <div>
                                    	<h3 style="margin-top: 5px;">Autenticar ciudadano(a)</h3>
                                    	<hr>
                                    </div>
										<div id="panelParticipantes" class="panel panel-default">
  											<div class="panel-heading">
                                                <h3 class="panel-title">Declaraci&oacute;n jurada<span class="glyphicon glyphicon-pencil pull-right"></span></h3>
  											</div>
  											<div class="panel-body">
												<div class="col-sm-12">											
       <div class="alert alert-success" role="alert">
            <div class="container-fluid">
                <div class="row">
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
<!-- Se han autenticado correctamente todos los participantes del acto -->
{{vm.modelo.mensaje}}
                </div>
            </div>
        </div>
												</div>
  											</div>
										</div>
                                 	<div class="wizard-buttons-container" >                                  	
<!--                                     	<button type="button" class="btn btn-danger wizard-cancel wizard-close" ng-show="!vm.user.success" ng-click="vm.cancelar()">Cancelar</button>   -->
                                        <div class="btn-group-single pull-right">  
<!--                                         	<button ng-click="vm.regresar()"  ng-disabled="vm.vistas.lenght === 0" class="btn btn-default wizard-back" type="button">Regresar</button> -->
                                        	<span>
                                                <button  ng-click="vm.finalizar()"  class="btn btn-success wizard-next" type="button">Finalizar</button>
                                            </span>
                                        </div>   
                                     </div> <!-- fin wizard-buttons-container--> 
										</div>
<!--                                  <div class="wizard-footer">   -->
<!--                                  	<div class="wizard-buttons-container" >                                  	 -->
<!--                                     	<button type="button" class="btn btn-danger wizard-cancel wizard-close" ng-show="!vm.user.success" ng-click="vm.cancelar()">Cancelar</button>   -->
<!--                                         <div class="btn-group-single pull-right">   -->
<!--                                         	<button ng-click="vm.regresar()"  ng-disabled="vm.vistas.lenght === 0" class="btn btn-default wizard-back" type="button">Regresar</button> -->
<!--                                         	<span> -->
<!--                                                 <button  ng-click="vm.siguiente()"  class="btn btn-primary wizard-next" type="button">Continuar</button> -->
<!--                                             </span> -->
<!--                                         </div>    -->
<!--                                      </div> fin wizard-buttons-container  -->
<!--                                  </div>  Fin footer -->
										